In [1]:
import pandas as pd

In [2]:
state_info_2017_df = pd.read_csv("ACS_17_5YR_S0102_with_ann.csv", skiprows=[0])
state_info_2016_df = pd.read_csv("ACS_16_5YR_S0102_with_ann.csv", skiprows=[0])
state_info_2015_df = pd.read_csv("ACS_15_5YR_S0102_with_ann.csv", skiprows=[0])
state_info_2014_df = pd.read_csv("ACS_14_5YR_S0102_with_ann.csv", skiprows=[0])
state_info_2013_df = pd.read_csv("ACS_13_5YR_S0102_with_ann.csv", skiprows=[0])

state_info_2013_df.head()

,Id,Id2,Geography,Total; Estimate; Total population,Total; Margin of Error; Total population,60 years and over; Estimate; Total population,60 years and over; Margin of Error; Total population,Total; Estimate; SEX AND AGE - Male,Total; Margin of Error; SEX AND AGE - Male,60 years and over; Estimate; SEX AND AGE - Male,...,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,60 years and over; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,Total; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Estimate; GROSS RENT - Median gross rent (dollars),Total; Margin of Error; GROSS RENT - Median gross rent (dollars),60 years and over; Estimate; GROSS RENT - Median gross rent (dollars),60 years and over; Margin of Error; GROSS RENT - Median gross rent (dollars)
0,0400000US01,1,Alabama,4799277,*****,966454,2674,48.5,0.1,44.1,...,56.0,1.0,44.8,0.6,44.0,1.0,705,3,569,9
1,0400000US02,2,Alaska,720316,*****,96430,985,52.2,0.1,50.3,...,52.6,2.7,40.6,0.9,47.4,2.7,1098,13,846,23
2,0400000US04,4,Arizona,6479703,*****,1294109,3052,49.7,0.1,46.1,...,46.1,0.9,47.5,0.4,53.9,0.9,896,4,836,8
3,0400000US05,5,Arkansas,2933369,*****,601493,2218,49.1,0.1,44.9,...,58.1,1.3,43.0,0.6,41.9,1.3,661,4,565,9
4,0400000US06,6,California,37659181,*****,6360929,7359,49.7,0.1,45.0,...,40.2,0.3,54.1,0.2,59.8,0.3,1224,2,994,4

In [3]:
gender_state_cols_2017_df = state_info_2017_df.filter(regex="Estimate")
gender_state_2017_df = state_info_2017_df.filter(regex="Geography")
gender_state_cols_2016_df = state_info_2016_df.filter(regex="Estimate")
gender_state_2016_df = state_info_2016_df.filter(regex="Geography")
gender_state_cols_2015_df = state_info_2015_df.filter(regex="Estimate")
gender_state_2015_df = state_info_2015_df.filter(regex="Geography")
gender_state_cols_2014_df = state_info_2014_df.filter(regex="Estimate")
gender_state_2014_df = state_info_2014_df.filter(regex="Geography")
gender_state_cols_2013_df = state_info_2013_df.filter(regex="Estimate")
gender_state_2013_df = state_info_2013_df.filter(regex="Geography")

gender_state_cols_2013_df.head()
gender_state_2013_df.head()

    Geography
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [4]:
total_gender_state_2017_df = pd.concat([gender_state_2017_df, gender_state_cols_2017_df], axis=1)
total_gender_state_2016_df = pd.concat([gender_state_2016_df, gender_state_cols_2016_df], axis=1)
total_gender_state_2015_df = pd.concat([gender_state_2015_df, gender_state_cols_2015_df], axis=1)
total_gender_state_2014_df = pd.concat([gender_state_2014_df, gender_state_cols_2014_df], axis=1)
total_gender_state_2013_df = pd.concat([gender_state_2013_df, gender_state_cols_2013_df], axis=1)

total_gender_state_2013_df.head()

,Geography,Total; Estimate; Total population,60 years and over; Estimate; Total population,Total; Estimate; SEX AND AGE - Male,60 years and over; Estimate; SEX AND AGE - Male,Total; Estimate; SEX AND AGE - Female,60 years and over; Estimate; SEX AND AGE - Female,Total; Estimate; Median age (years),60 years and over; Estimate; Median age (years),Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race,...,Total; Estimate; OWNER CHARACTERISTICS - Median selected monthly owner costs without a mortgage (dollars),60 years and over; Estimate; OWNER CHARACTERISTICS - Median selected monthly owner costs without a mortgage (dollars),Total; Estimate; Renter-occupied housing units,60 years and over; Estimate; Renter-occupied housing units,Total; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,Total; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Estimate; GROSS RENT - Median gross rent (dollars),60 years and over; Estimate; GROSS RENT - Median gross rent (dollars)
0,Alabama,4799277,966454,48.5,44.1,51.5,55.9,38.1,69.4,98.5,...,349,346,557079,100033,55.2,56.0,44.8,44.0,705,569
1,Alaska,720316,96430,52.2,50.3,47.8,49.7,33.6,66.9,92.1,...,553,553,91096,11056,59.4,52.6,40.6,47.4,1098,846
2,Arizona,6479703,1294109,49.7,46.1,50.3,53.9,36.3,69.8,97.0,...,380,377,842814,137133,52.5,46.1,47.5,53.9,896,836
3,Arkansas,2933369,601493,49.1,44.9,50.9,55.1,37.5,69.8,98.0,...,321,320,375930,67553,57.0,58.1,43.0,41.9,661,565
4,California,37659181,6360929,49.7,45.0,50.3,55.0,35.4,69.4,95.7,...,483,462,5603356,972910,45.9,40.2,54.1,59.8,1224,994

In [5]:
gender_state_2017_data = total_gender_state_2017_df[["Geography", "Total; Estimate; Total population", "Total; Estimate; SEX AND AGE - Male", "Total; Estimate; SEX AND AGE - Female"]]
gender_state_2016_data = total_gender_state_2016_df[["Geography", "Total; Estimate; Total population", "Total; Estimate; SEX AND AGE - Male", "Total; Estimate; SEX AND AGE - Female"]]
gender_state_2015_data = total_gender_state_2015_df[["Geography", "Total; Estimate; Total population", "Total; Estimate; SEX AND AGE - Male", "Total; Estimate; SEX AND AGE - Female"]]
gender_state_2014_data = total_gender_state_2014_df[["Geography", "Total; Estimate; Total population", "Total; Estimate; SEX AND AGE - Male", "Total; Estimate; SEX AND AGE - Female"]]
gender_state_2013_data = total_gender_state_2013_df[["Geography", "Total; Estimate; Total population", "Total; Estimate; SEX AND AGE - Male", "Total; Estimate; SEX AND AGE - Female"]]

gender_state_2013_data.head()

,Geography,Total; Estimate; Total population,Total; Estimate; SEX AND AGE - Male,Total; Estimate; SEX AND AGE - Female
0,Alabama,4799277,48.5,51.5
1,Alaska,720316,52.2,47.8
2,Arizona,6479703,49.7,50.3
3,Arkansas,2933369,49.1,50.9
4,California,37659181,49.7,50.3

In [6]:
gender_state_2017_data.columns
gender_state_2016_data.columns
gender_state_2015_data.columns
gender_state_2014_data.columns
gender_state_2013_data.columns

Index(['Geography', 'Total; Estimate; Total population',
       'Total; Estimate; SEX AND AGE - Male',
       'Total; Estimate; SEX AND AGE - Female'],
      dtype='object')

In [7]:
gender_state_2017_df = gender_state_2017_data.rename(columns={"Geography": "State", "Total; Estimate; Total population": "Total Population 2017",
       "Total; Estimate; SEX AND AGE - Male": "Total Male Population 2017",
       "Total; Estimate; SEX AND AGE - Female": "Total Female Population 2017"})

gender_state_2016_df = gender_state_2016_data.rename(columns={"Geography": "State", "Total; Estimate; Total population": "Total Population 2016",
       "Total; Estimate; SEX AND AGE - Male": "Total Male Population 2016",
       "Total; Estimate; SEX AND AGE - Female": "Total Female Population 2016"})

gender_state_2015_df = gender_state_2015_data.rename(columns={"Geography": "State", "Total; Estimate; Total population": "Total Population 2015",
       "Total; Estimate; SEX AND AGE - Male": "Total Male Population 2015",
       "Total; Estimate; SEX AND AGE - Female": "Total Female Population 2015"})

gender_state_2014_df = gender_state_2014_data.rename(columns={"Geography": "State", "Total; Estimate; Total population": "Total Population 2014",
       "Total; Estimate; SEX AND AGE - Male": "Total Male Population 2014",
       "Total; Estimate; SEX AND AGE - Female": "Total Female Population 2014"})

gender_state_2013_df = gender_state_2013_data.rename(columns={"Geography": "State", "Total; Estimate; Total population": "Total Population 2013",
       "Total; Estimate; SEX AND AGE - Male": "Total Male Population 2013",
       "Total; Estimate; SEX AND AGE - Female": "Total Female Population 2013"})

gender_state_2013_df.head()

,State,Total Population 2013,Total Male Population 2013,Total Female Population 2013
0,Alabama,4799277,48.5,51.5
1,Alaska,720316,52.2,47.8
2,Arizona,6479703,49.7,50.3
3,Arkansas,2933369,49.1,50.9
4,California,37659181,49.7,50.3

In [9]:
total_gender_2013_2014_data = pd.merge(gender_state_2013_df, gender_state_2014_df, on=["State"])
total_gender_2013_2014_2015_data = pd.merge(total_gender_2013_2014_data, gender_state_2015_df, on=["State"])
total_gender_2013_2014_2015_2016_data = pd.merge(total_gender_2013_2014_2015_data, gender_state_2016_df, on=["State"])
total_gender_state_data = pd.merge(total_gender_2013_2014_2015_2016_data, gender_state_2017_df, on=["State"])

total_gender_state_data.head()

,State,Total Population 2013,Total Male Population 2013,Total Female Population 2013,Total Population 2014,Total Male Population 2014,Total Female Population 2014,Total Population 2015,Total Male Population 2015,Total Female Population 2015,Total Population 2016,Total Male Population 2016,Total Female Population 2016,Total Population 2017,Total Male Population 2017,Total Female Population 2017
0,Alabama,4799277,48.5,51.5,4817678,48.5,51.5,4830620,48.5,51.5,4841164,48.5,51.5,4850771,48.5,51.5
1,Alaska,720316,52.2,47.8,728300,52.2,47.8,733375,52.4,47.6,736855,52.3,47.7,738565,52.3,47.7
2,Arizona,6479703,49.7,50.3,6561516,49.7,50.3,6641928,49.7,50.3,6728577,49.7,50.3,6809946,49.7,50.3
3,Arkansas,2933369,49.1,50.9,2947036,49.1,50.9,2958208,49.1,50.9,2968472,49.1,50.9,2977944,49.1,50.9
4,California,37659181,49.7,50.3,38066920,49.7,50.3,38421464,49.7,50.3,38654206,49.7,50.3,38982847,49.7,50.3