In [40]:
import pandas as pd

In [41]:
state_info_df = pd.read_csv("PEP_2017_PEPAGESEX_with_ann.csv", skiprows=[0])

state_info_df.head()

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
0,0400000US01,1,Alabama,4779736,2320188,2459548,4780135,2320482,2459653,4785579,...,40.0,38.7,37.2,40.1,38.9,37.4,40.3,39.0,37.5,40.5
1,0400000US02,2,Alaska,710231,369628,340603,710249,369642,340607,714015,...,34.2,33.9,33.5,34.4,34.0,33.6,34.5,34.3,33.9,34.8
2,0400000US04,4,Arizona,6392017,3175823,3216194,6392309,3176053,3216256,6407002,...,38.3,37.2,35.9,38.6,37.4,36.2,38.8,37.7,36.4,39.1
3,0400000US05,5,Arkansas,2915918,1431637,1484281,2916031,1431690,1484341,2921737,...,39.2,37.9,36.5,39.2,38.0,36.6,39.4,38.1,36.8,39.5
4,0400000US06,6,California,37253956,18517830,18736126,37254518,18518136,18736382,37327690,...,37.2,36.1,35.0,37.3,36.4,35.3,37.5,36.6,35.5,37.7

In [42]:
age_state_cols_df = state_info_df.filter(regex="Both Sexes; Total")
age_state_df = state_info_df.filter(regex="Geography")

age_state_df.head()
age_state_cols_df.head()

,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Estimates Base - Both Sexes; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2011 - Both Sexes; Total,Population Estimate (as of July 1) - 2012 - Both Sexes; Total,Population Estimate (as of July 1) - 2013 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2015 - Both Sexes; Total,Population Estimate (as of July 1) - 2016 - Both Sexes; Total,Population Estimate (as of July 1) - 2017 - Both Sexes; Total,...,"April 1, 2010 - Census - Both Sexes; Total - 85 years and over","April 1, 2010 - Estimates Base - Both Sexes; Total - 85 years and over",Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over
0,4779736,4780135,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747,...,75684,75715,76240,77906,80188,81790,83741,85465,86919,88179
1,710231,710249,714015,722259,730825,736760,736759,737979,741522,739795,...,4711,4711,4763,4973,5167,5448,5761,6045,6316,6554
2,6392017,6392309,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270,...,103400,103500,104701,109208,113777,117960,122994,129004,133252,136727
3,2915918,2916031,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279,...,51402,51415,51735,52696,53753,54331,55348,56361,57246,57882
4,37253956,37254518,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653,...,600968,601063,606864,628779,649713,667219,686439,706895,721049,732793

In [43]:
total_age_state_df = pd.concat([age_state_df, age_state_cols_df], axis=1)

total_age_state_df.head()

,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Estimates Base - Both Sexes; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2011 - Both Sexes; Total,Population Estimate (as of July 1) - 2012 - Both Sexes; Total,Population Estimate (as of July 1) - 2013 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2015 - Both Sexes; Total,Population Estimate (as of July 1) - 2016 - Both Sexes; Total,...,"April 1, 2010 - Census - Both Sexes; Total - 85 years and over","April 1, 2010 - Estimates Base - Both Sexes; Total - 85 years and over",Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over
0,Alabama,4779736,4780135,4785579,4798649,4813946,4827660,4840037,4850858,4860545,...,75684,75715,76240,77906,80188,81790,83741,85465,86919,88179
1,Alaska,710231,710249,714015,722259,730825,736760,736759,737979,741522,...,4711,4711,4763,4973,5167,5448,5761,6045,6316,6554
2,Arizona,6392017,6392309,6407002,6465488,6544211,6616124,6706435,6802262,6908642,...,103400,103500,104701,109208,113777,117960,122994,129004,133252,136727
3,Arkansas,2915918,2916031,2921737,2938640,2949208,2956780,2964800,2975626,2988231,...,51402,51415,51735,52696,53753,54331,55348,56361,57246,57882
4,California,37253956,37254518,37327690,37672654,38019006,38347383,38701278,39032444,39296476,...,600968,601063,606864,628779,649713,667219,686439,706895,721049,732793

In [44]:
total_age_state_df.to_csv("./output/ageallyearsbystate.csv")

In [45]:
# total_age_state_df = total_age_state_df[total_age_state_df.columns.drop(list(total_age_state_df.filter(regex='2010')))]
total_age_state_df = total_age_state_df[total_age_state_df.columns.drop(list(total_age_state_df.filter(regex='2011')))]
total_age_state_df = total_age_state_df[total_age_state_df.columns.drop(list(total_age_state_df.filter(regex='2012')))]

total_age_state_df.columns

Index(['Geography', 'April 1, 2010 - Census - Both Sexes; Total',
       'April 1, 2010 - Estimates Base - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'April 1, 2010 - Census - Both Sexes; Total - Under 5 years',
       ...
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'April 1, 2010 - Census - Both Sexes; Total - 85 years and over',
       'April 1, 2010 - Estimates Base - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over'],
      dtype='object', length=153)

In [46]:
age_state_data = total_age_state_df[['Geography', 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - Under 5 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - Under 5 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - Under 5 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - Under 5 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - Under 5 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 5 to 9 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 5 to 9 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 5 to 9 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 5 to 9 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 5 to 9 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 10 to 14 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 10 to 14 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 10 to 14 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 10 to 14 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 10 to 14 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 15 to 19 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 15 to 19 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 15 to 19 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 15 to 19 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 15 to 19 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 20 to 24 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 20 to 24 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 20 to 24 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 20 to 24 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 20 to 24 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 25 to 29 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 25 to 29 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 25 to 29 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 25 to 29 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 25 to 29 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 30 to 34 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 30 to 34 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 30 to 34 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 30 to 34 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 30 to 34 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 35 to 39 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 35 to 39 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 35 to 39 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 35 to 39 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 35 to 39 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 40 to 44 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 40 to 44 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 40 to 44 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 40 to 44 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 40 to 44 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 45 to 49 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 45 to 49 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 45 to 49 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 45 to 49 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 45 to 49 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over']]
age_state_data.head()

,Geography,Population Estimate (as of July 1) - 2013 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2015 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2016 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 5 to 9 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 5 to 9 years,Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 5 to 9 years,Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 5 to 9 years,...,Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over
0,Alabama,294541,293552,293904,293581,293554,306895,306281,305293,303815,...,90206,90879,92034,93715,95101,81790,83741,85465,86919,88179
1,Alaska,55261,55245,55022,54664,54083,52020,51736,51677,52429,...,6527,6670,6760,7031,7339,5448,5761,6045,6316,6554
2,Arizona,433645,433312,434662,435789,437262,458750,458614,456082,454833,...,127272,129333,133074,137291,142462,117960,122994,129004,133252,136727
3,Arkansas,191474,190937,190993,191243,191435,200062,198801,197866,196597,...,57087,57489,58387,59144,60107,54331,55348,56361,57246,57882
4,California,2502704,2506873,2508080,2484772,2471513,2557993,2552838,2542841,2537586,...,616518,621007,627245,635363,647135,667219,686439,706895,721049,732793

In [47]:
age_state_data.columns = ["State", '2013 Under 5 years',
       '2014 - Under 5 years',
       '2015 - Under 5 years',
       '2016 - Under 5 years',
       '2017 - Under 5 years',
       '2013 - 5 to 9 years',
       '2014 - 5 to 9 years',
       '2015 - 5 to 9 years',
       '2016 - 5 to 9 years',
       '2017 - 5 to 9 years',
       '2013 - 10 to 14 years',
       '2014 - 10 to 14 years',
       '2015 - 10 to 14 years',
       '2016 - 10 to 14 years',
       '2017 - 10 to 14 years',
       '2013 - 15 to 19 years',
       '2014 - 15 to 19 years',
       '2015 - 15 to 19 years',
       '2016 - 15 to 19 years',
       '2017 - 15 to 19 years',
       '2013 - 20 to 24 years',
       '2014 - 20 to 24 years',
       '2015 - 20 to 24 years',
       '2016 - 20 to 24 years',
       '2017 - 20 to 24 years',
       '2013 - 25 to 29 years',
       '2014 - 25 to 29 years',
       '2015 - 25 to 29 years',
       '2016 - 25 to 29 years',
       '2017 - 25 to 29 years',
       '2013 - 30 to 34 years',
       '2014 - 30 to 34 years',
       '2015 - 30 to 34 years',
       '2016 - 30 to 34 years',
       '2017 - 30 to 34 years',
       '2013 - 35 to 39 years',
       '2014 - 35 to 39 years',
       '2015 - 35 to 39 years',
       '2016 - 35 to 39 years',
       '2017 - 35 to 39 years',
       '2013 - 40 to 44 years',
       '2014 - 40 to 44 years',
       '2015 - 40 to 44 years',
       '2016 - 40 to 44 years',
       '2017 - 40 to 44 years',
       '2013 - 45 to 49 years',
       '2014 - 45 to 49 years',
       '2015 - 45 to 49 years',
       '2016 - 45 to 49 years',
       '2017 - 45 to 49 years',
       '2013 - 50 to 54 years',
       '2014 - 50 to 54 years',
       '2015 - 50 to 54 years',
       '2016 - 50 to 54 years',
       '2017 - 50 to 54 years',
       '2013 - 55 to 59 years',
       '2014 - 55 to 59 years',
       '2015 - 55 to 59 years',
       '2016 - 55 to 59 years',
       '2017 - 55 to 59 years',
       '2013 - 60 to 64 years',
       '2014 - 60 to 64 years',
       '2015 - 60 to 64 years',
       '2016 - 60 to 64 years',
       '2017 - 60 to 64 years',
       '2013 - 65 to 69 years',
       '2014 - 65 to 69 years',
       '2015 - 65 to 69 years',
       '2016 - 65 to 69 years',
       '2017 - 65 to 69 years',
       '2013 - 70 to 74 years',
       '2014 - 70 to 74 years',
       '2015 - 70 to 74 years',
       '2016 - 70 to 74 years',
       '2017 - 70 to 74 years',
       '2013 - 75 to 79 years',
       '2014 - 75 to 79 years',
       '2015 - 75 to 79 years',
       '2016 - 75 to 79 years',
       '2017 - 75 to 79 years',
       '2013 - 80 to 84 years',
       '2014 - 80 to 84 years',
       '2015 - 80 to 84 years',
       '2016 - 80 to 84 years',
       '2017 - 80 to 84 years',
       '2013 - 85 years and over',
       '2014 - 85 years and over',
       '2015 - 85 years and over',
       '2016 - 85 years and over',
       '2017 - 85 years and over']
age_state_data.head()

,State,2013 Under 5 years,2014 - Under 5 years,2015 - Under 5 years,2016 - Under 5 years,2017 - Under 5 years,2013 - 5 to 9 years,2014 - 5 to 9 years,2015 - 5 to 9 years,2016 - 5 to 9 years,...,2013 - 80 to 84 years,2014 - 80 to 84 years,2015 - 80 to 84 years,2016 - 80 to 84 years,2017 - 80 to 84 years,2013 - 85 years and over,2014 - 85 years and over,2015 - 85 years and over,2016 - 85 years and over,2017 - 85 years and over
0,Alabama,294541,293552,293904,293581,293554,306895,306281,305293,303815,...,90206,90879,92034,93715,95101,81790,83741,85465,86919,88179
1,Alaska,55261,55245,55022,54664,54083,52020,51736,51677,52429,...,6527,6670,6760,7031,7339,5448,5761,6045,6316,6554
2,Arizona,433645,433312,434662,435789,437262,458750,458614,456082,454833,...,127272,129333,133074,137291,142462,117960,122994,129004,133252,136727
3,Arkansas,191474,190937,190993,191243,191435,200062,198801,197866,196597,...,57087,57489,58387,59144,60107,54331,55348,56361,57246,57882
4,California,2502704,2506873,2508080,2484772,2471513,2557993,2552838,2542841,2537586,...,616518,621007,627245,635363,647135,667219,686439,706895,721049,732793

In [48]:
age_state_data.to_csv("./output/agegroupsbystatenotfinished.csv")