In [1]:
import pandas as pd

In [2]:
state_info_2017_df = pd.read_csv("ACS_17_5YR_S0102_with_ann.csv", skiprows=[0])
state_info_2016_df = pd.read_csv("ACS_16_5YR_S0102_with_ann.csv", skiprows=[0])
state_info_2015_df = pd.read_csv("ACS_15_5YR_S0102_with_ann.csv", skiprows=[0])
state_info_2014_df = pd.read_csv("ACS_14_5YR_S0102_with_ann.csv", skiprows=[0])
state_info_2013_df = pd.read_csv("ACS_13_5YR_S0102_with_ann.csv", skiprows=[0])

state_info_2013_df.head()

,Id,Id2,Geography,Total; Estimate; Total population,Total; Margin of Error; Total population,60 years and over; Estimate; Total population,60 years and over; Margin of Error; Total population,Total; Estimate; SEX AND AGE - Male,Total; Margin of Error; SEX AND AGE - Male,60 years and over; Estimate; SEX AND AGE - Male,...,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,60 years and over; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,Total; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Estimate; GROSS RENT - Median gross rent (dollars),Total; Margin of Error; GROSS RENT - Median gross rent (dollars),60 years and over; Estimate; GROSS RENT - Median gross rent (dollars),60 years and over; Margin of Error; GROSS RENT - Median gross rent (dollars)
0,0400000US01,1,Alabama,4799277,*****,966454,2674,48.5,0.1,44.1,...,56.0,1.0,44.8,0.6,44.0,1.0,705,3,569,9
1,0400000US02,2,Alaska,720316,*****,96430,985,52.2,0.1,50.3,...,52.6,2.7,40.6,0.9,47.4,2.7,1098,13,846,23
2,0400000US04,4,Arizona,6479703,*****,1294109,3052,49.7,0.1,46.1,...,46.1,0.9,47.5,0.4,53.9,0.9,896,4,836,8
3,0400000US05,5,Arkansas,2933369,*****,601493,2218,49.1,0.1,44.9,...,58.1,1.3,43.0,0.6,41.9,1.3,661,4,565,9
4,0400000US06,6,California,37659181,*****,6360929,7359,49.7,0.1,45.0,...,40.2,0.3,54.1,0.2,59.8,0.3,1224,2,994,4

In [3]:
edu_state_cols_2017_df = state_info_2017_df.filter(regex="Total; Estimate; EDUCATIONAL ATTAINMENT")
edu_state_2017_df = state_info_2017_df.filter(regex="Geography")
edu_state_cols_2016_df = state_info_2016_df.filter(regex="Total; Estimate; EDUCATIONAL ATTAINMENT")
edu_state_2016_df = state_info_2016_df.filter(regex="Geography")
edu_state_cols_2015_df = state_info_2015_df.filter(regex="Total; Estimate; EDUCATIONAL ATTAINMENT")
edu_state_2015_df = state_info_2015_df.filter(regex="Geography")
edu_state_cols_2014_df = state_info_2014_df.filter(regex="Total; Estimate; EDUCATIONAL ATTAINMENT")
edu_state_2014_df = state_info_2014_df.filter(regex="Geography")
edu_state_cols_2013_df = state_info_2013_df.filter(regex="Total; Estimate; EDUCATIONAL ATTAINMENT")
edu_state_2013_df = state_info_2013_df.filter(regex="Geography")

edu_state_2013_df.head()
edu_state_cols_2013_df.head()

,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate,"Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative",Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher
0,3193338,16.9,31.1,29.4,22.6
1,454301,8.4,27.3,36.8,27.5
2,4211194,14.3,24.5,34.3,26.9
3,1936554,16.3,35.1,28.5,20.1
4,24455010,18.8,20.7,29.9,30.7

In [4]:
total_edu_state_2017_df = pd.concat([edu_state_2017_df, edu_state_cols_2017_df], axis=1)
total_edu_state_2016_df = pd.concat([edu_state_2016_df, edu_state_cols_2016_df], axis=1)
total_edu_state_2015_df = pd.concat([edu_state_2015_df, edu_state_cols_2015_df], axis=1)
total_edu_state_2014_df = pd.concat([edu_state_2014_df, edu_state_cols_2014_df], axis=1)
total_edu_state_2013_df = pd.concat([edu_state_2013_df, edu_state_cols_2013_df], axis=1)

total_edu_state_2013_df.head()

,Geography,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate,"Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative",Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher
0,Alabama,3193338,16.9,31.1,29.4,22.6
1,Alaska,454301,8.4,27.3,36.8,27.5
2,Arizona,4211194,14.3,24.5,34.3,26.9
3,Arkansas,1936554,16.3,35.1,28.5,20.1
4,California,24455010,18.8,20.7,29.9,30.7

In [5]:
total_edu_state_2017_df.columns
total_edu_state_2016_df.columns
total_edu_state_2015_df.columns
total_edu_state_2014_df.columns
total_edu_state_2013_df.columns

Index(['Geography',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher'],
      dtype='object')

In [6]:
edu_state_2017_data = total_edu_state_2017_df[['Geography', 
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative',
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree",
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher"]]
edu_state_2017_data.head()

edu_state_2016_data = total_edu_state_2016_df[['Geography', 
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative',
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree",
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher"]]
edu_state_2016_data.head()

edu_state_2015_data = total_edu_state_2015_df[['Geography', 
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative',
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree",
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher"]]
edu_state_2015_data.head()

edu_state_2014_data = total_edu_state_2014_df[['Geography', 
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative',
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree",
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher"]]
edu_state_2014_data.head()

edu_state_2013_data = total_edu_state_2013_df[['Geography', 
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative',
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree",
       "Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher"]]
edu_state_2013_data.head()

,Geography,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate,"Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate, GED, or alternative",Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college or associate's degree,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher
0,Alabama,3193338,16.9,31.1,29.4,22.6
1,Alaska,454301,8.4,27.3,36.8,27.5
2,Arizona,4211194,14.3,24.5,34.3,26.9
3,Arkansas,1936554,16.3,35.1,28.5,20.1
4,California,24455010,18.8,20.7,29.9,30.7

In [7]:
edu_state_2017_data.columns = ["State", 
       "Edu_25+yrs_ttl17",
       "25+yrs_<high_school_17",
       "25+yrs_high_school_17",
       "25+yrs_college_17",
       "25+yrs_>B.S._17"]
edu_state_2017_data.head()

edu_state_2016_data.columns = ["State", 
       "Edu_25+yrs_ttl16",
       "25+yrs_<high_school_16",
       "25+yrs_high_school_16",
       "25+yrs_college_16",
       "25+yrs_>B.S._16"]
edu_state_2016_data.head()

edu_state_2015_data.columns = ["State", 
       "Edu_25+yrs_ttl15",
       "25+yrs_<high_school_15",
       "25+yrs_high_school_15",
       "25+yrs_college_15",
       "25+yrs_>B.S._15"]
edu_state_2015_data.head()

edu_state_2014_data.columns = ["State", 
       "Edu_25+yrs_ttl14",
       "25+yrs_<high_school_14",
       "25+yrs_high_school_14",
       "25+yrs_college_14",
       "25+yrs_>B.S._14"]
edu_state_2014_data.head()

edu_state_2013_data.columns = ["State", 
       "Edu_25+yrs_ttl13",
       "25+yrs_<high_school_13",
       "25+yrs_high_school_13",
       "25+yrs_college_13",
       "25+yrs_>B.S._13"]
edu_state_2013_data.head()

,State,Edu_25+yrs_ttl13,25+yrs_<high_school_13,25+yrs_high_school_13,25+yrs_college_13,25+yrs_>B.S._13
0,Alabama,3193338,16.9,31.1,29.4,22.6
1,Alaska,454301,8.4,27.3,36.8,27.5
2,Arizona,4211194,14.3,24.5,34.3,26.9
3,Arkansas,1936554,16.3,35.1,28.5,20.1
4,California,24455010,18.8,20.7,29.9,30.7

In [8]:
total_edu_2013_2014_data = pd.merge(edu_state_2013_data, edu_state_2014_data, on='State')
total_edu_2013_2014_2015_data = pd.merge(total_edu_2013_2014_data, edu_state_2015_data, on='State')
total_edu_2013_2014_2015_2016_data = pd.merge(total_edu_2013_2014_2015_data, edu_state_2016_data, on='State')
total_edu_state_df = pd.merge(total_edu_2013_2014_2015_2016_data, edu_state_2017_data, on='State')

total_edu_state_df.head()

,State,Edu_25+yrs_ttl13,25+yrs_<high_school_13,25+yrs_high_school_13,25+yrs_college_13,25+yrs_>B.S._13,Edu_25+yrs_ttl14,25+yrs_<high_school_14,25+yrs_high_school_14,25+yrs_college_14,...,Edu_25+yrs_ttl16,25+yrs_<high_school_16,25+yrs_high_school_16,25+yrs_college_16,25+yrs_>B.S._16,Edu_25+yrs_ttl17,25+yrs_<high_school_17,25+yrs_high_school_17,25+yrs_college_17,25+yrs_>B.S._17
0,Alabama,3193338,16.9,31.1,29.4,22.6,3217902,16.3,31.1,29.6,...,3261408,15.2,31.0,29.8,24.0,3276637,14.7,30.9,29.9,24.5
1,Alaska,454301,8.4,27.3,36.8,27.5,460319,8.2,27.5,36.6,...,470699,7.7,27.7,35.8,28.8,475442,7.6,27.6,35.8,29.0
2,Arizona,4211194,14.3,24.5,34.3,26.9,4284776,14.1,24.5,34.3,...,4440635,13.8,24.3,34.0,28.0,4516175,13.5,24.2,33.9,28.4
3,Arkansas,1936554,16.3,35.1,28.5,20.1,1949963,15.7,35.0,28.7,...,1973591,14.8,34.7,29.0,21.5,1985770,14.4,34.3,29.2,22.0
4,California,24455010,18.8,20.7,29.9,30.7,24865866,18.5,20.7,29.8,...,25554412,17.9,20.6,29.5,32.0,25950818,17.5,20.6,29.3,32.6

In [9]:
total_edu_state_df.to_csv("./output/eduallyearsbystate.csv")