In [1]:
# Import Dependencies
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Open Excel File
crime_data_file = "Resources/CrimeDataFinal.xlsx"

# Read Excel File
excel_reader_crime = pd.read_excel(crime_data_file)

In [14]:
# Create a Crime DataFrame
crime_df = excel_reader_crime.groupby("State")[["Crime 2011", "Crime 2012", "Crime 2013", "Crime 2014", "Crime 2015"]].mean()
crime_df

,Crime 2011,Crime 2012,Crime 2013,Crime 2014,Crime 2015
State,,,,,
ALABAMA,2101,1918,2119,1815,140450
ALASKA,39607,29690,29568,25935,31402
ARIZONA,285528,256968,279551,261448,226367
ARKANSAS,108281,137962,138054,119850,127083
CALIFORNIA,1183470,1228185,1212801,1217089,1158479
COLORADO,208352,213769,230910,239994,226807
CONNECTICUT,119285,110186,95685,107855,85327
DELAWARE,37832,39680,37321,36780,34687
DISTRICT OF COLUMBIA,8725,0,6154,5709,7218
FLORIDA,952845,960086,904135,865272,772956
GEORGIA,349708,330261,323435,307221,231108
HAWAII,0,8832,9556,9464,37603
IDAHO,63005,64164,61668,59003,52162
ILLINOIS,132863,125398,120760,108211,91218
INDIANA,194774,151935,129146,143682,150628
IOWA,105015,102554,101402,100607,89891
KANSAS,78391,78153,78182,68291,62188
KENTUCKY,176087,179435,178212,178916,195415
LOUISIANA,119085,122931,149789,121145,111454
MAINE,51592,51052,49548,47815,45230
MARYLAND,229010,214837,168692,195120,159178
MASSACHUSETTS,137379,137532,135362,125708,116347
MICHIGAN,251200,252589,251825,246442,240942
MINNESOTA,176051,0,158799,151155,148307
MISSISSIPPI,102765,94386,72824,79522,71916
MISSOURI,295080,289864,276973,256349,222609
MONTANA,29678,32384,30089,29766,25687
NEBRASKA,81890,77665,69957,73802,45859
NEVADA,141908,142459,122498,122274,115675
NEW HAMPSHIRE,40699,45492,44554,46180,44368
NEW JERSEY,333136,328432,302955,303639,264250
NEW MEXICO,108731,98410,65526,81447,87310
NEW YORK,303435,338463,300442,264268,271540
NORTH CAROLINA,494561,435932,395015,369728,278625
NORTH DAKOTA,26012,29084,30642,30653,32565
OHIO,256625,227243,224248,244134,226325
OKLAHOMA,134295,127825,125534,123408,110974
OREGON,133414,127754,54323,71804,76969
PENNSYLVANIA,418838,433863,413486,415346,377078
RHODE ISLAND,29852,33191,30598,30447,27171
SOUTH CAROLINA,169884,169384,181016,157253,151136
SOUTH DAKOTA,29023,35365,35061,35375,48048
TENNESSEE,386758,356340,371938,358850,335281
TEXAS,1026398,1009136,931814,849887,808119
UTAH,47321,117185,131389,118405,115453
VERMONT,10907,13073,13418,11381,11183
VIRGINIA,347903,339362,321040,300102,268167
WASHINGTON,129201,172362,189806,183687,186866
WEST VIRGINIA,50204,46364,49225,43394,40568
WISCONSIN,317773,324207,305446,281399,265628
WYOMING,34041,30404,31636,28872,27058

In [6]:
# Calculate Average Crime Over Five Years by State

# Calculate Percent Crime Over Five Years by State

            Crime 2011  Crime 2012  Crime 2013  Crime 2014  Crime 2015
State
ALABAMA           2101        1918        2119        1815      140450
ALASKA           39607       29690       29568       25935       31402
ARIZONA         285528      256968      279551      261448      226367
ARKANSAS        108281      137962      138054      119850      127083
CALIFORNIA     1183470     1228185     1212801     1217089     1158479