In [1]:
%matplotlib notebook

In [2]:
# Import Dependencies
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Open CSV File
crime_file_2011 = "Resources/Table_69_Arrest_by_State_2011.xls"
crime_file_2012 = "Resources/Table_69_Arrest_by_State_2012.xls"
crime_file_2013 = "Resources/Table_69_Arrest_by_State_2013.xls"
crime_file_2014 = "Resources/Table_69_Arrest_by_State_2014.xls"
crime_file_2015 = "Resources/Table_69_Arrest_by_State_2015.xls"

# Read CSV File
excel_reader_pd_2011 = pd.read_excel(crime_file_2011)
excel_reader_pd_2012 = pd.read_excel(crime_file_2012)
excel_reader_pd_2013 = pd.read_excel(crime_file_2013)
excel_reader_pd_2014 = pd.read_excel(crime_file_2014)
excel_reader_pd_2015 = pd.read_excel(crime_file_2015)

In [34]:
#  View 2011 Data
excel_reader_pd_2011

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ALABAMA,2101,15,531,0,0,11,4,509,5,0,9,16,10,20,0,300,287,30
1,ALASKA,39607,2006,3824,32,81,225,1668,3097,266,44,245,102,887,401,356,2341,4420,1115
2,ARIZONA,285528,8589,40144,244,196,1736,6413,33888,1402,239,2101,200,11164,2400,1702,30886,35496,17374
3,ARKANSAS,108281,3229,12948,59,139,435,2596,10213,285,59,1952,35,1125,943,133,8783,7758,2681
4,CALIFORNIA,1183470,107165,147842,1512,1757,17431,86465,84090,10350,1047,6998,1100,21921,27690,11143,188188,104345,11246
5,COLORADO,208352,5701,23445,107,400,936,4258,19719,1084,235,1700,121,4971,1701,818,15109,27314,9672
6,CONNECTICUT,119285,4817,17366,128,267,1397,3025,13813,612,170,1297,161,2310,1244,560,13667,8487,12458
7,DELAWARE,37832,2328,7325,29,93,583,1623,6187,116,41,1803,186,880,327,181,5110,242,2141
8,DISTRICT OF COLUMBIA,8725,157,175,0,0,118,39,165,10,0,17,0,29,59,0,204,43,159
9,FLORIDA,952845,43364,128489,709,1527,9148,31980,94047,5345,319,13992,939,7364,5785,2734,130296,43784,0
10,GEORGIA,349708,14419,53874,460,350,2787,10822,41729,2148,401,6294,406,4147,3971,4032,42812,31176,26769
11,IDAHO,63005,1303,7037,17,68,82,1136,5859,183,47,437,54,1162,427,275,6558,9161,2220
12,ILLINOIS,132863,6939,18924,290,409,2524,3716,13683,2610,61,232,0,3904,3941,609,38701,3619,11031
13,INDIANA,194774,8398,30383,243,187,1687,6281,24499,1527,134,1699,21,2011,1880,1277,23345,20043,6873
14,IOWA,105015,3939,14424,33,110,202,3594,11985,381,134,784,68,2520,566,213,9139,11889,6155
15,KANSAS,78391,2236,7624,44,187,189,1816,6193,382,67,931,163,1875,600,301,7364,11470,2746
16,KENTUCKY,176087,3563,19953,114,244,1146,2059,15397,596,142,1164,333,1236,1082,394,21383,22973,4998
17,LOUISIANA,119085,8420,19892,158,208,959,7095,15419,577,122,1411,24,2537,1515,613,14925,6032,9772
18,MAINE,51592,751,8142,17,75,204,455,6368,301,77,755,56,1487,403,253,5627,5802,1709
19,MARYLAND,229010,9551,28345,202,305,2819,6225,20403,1585,375,1554,289,3267,3235,1175,41022,17402,6306
20,MASSACHUSETTS,137379,11512,18428,90,288,1808,9326,13955,697,83,1181,90,3138,1479,566,10849,9887,7384
21,MICHIGAN,251200,11856,34176,158,589,2141,8968,25970,1895,266,4648,917,3125,3926,862,31486,29443,8563
22,MINNESOTA,176051,5140,28405,69,152,1196,3723,24268,977,167,2382,30,3886,1688,1331,17727,24543,13184
23,MISSISSIPPI,102765,2223,11509,173,161,625,1264,8639,402,95,1551,517,937,828,314,10862,11251,6783
24,MISSOURI,295080,10401,41476,252,382,2117,7650,33181,1571,249,2643,255,5300,3353,2018,35383,29447,13006
25,MONTANA,29678,829,4118,10,40,45,734,3698,163,32,171,34,965,71,61,1790,4251,3458
26,NEBRASKA,81890,2111,11062,53,213,355,1490,9707,364,89,1230,75,2587,835,560,10423,12005,3761
27,NEVADA,141908,5690,14355,107,168,1491,3924,10895,505,376,1354,403,2230,1499,1243,15562,11834,2765
28,NEW HAMPSHIRE,40699,860,4152,4,42,159,655,3522,75,39,689,35,1122,77,142,3631,3616,1116
29,NEW JERSEY,333136,11947,33726,207,279,3561,7900,26191,688,263,3323,211,5227,4081,1298,46377,26206,17791
30,NEW MEXICO,108731,4386,13257,83,121,380,3802,10800,408,214,573,230,1277,692,220,8859,11460,3502
31,NEW YORK,303435,11306,53185,176,402,2851,7877,43965,1607,237,5745,116,14771,3065,3144,56508,35541,11322
32,NORTH CAROLINA,494561,19735,71541,573,560,3900,14702,52358,1430,422,18242,1472,8696,7372,1686,42225,53700,16003
33,NORTH DAKOTA,26012,495,2936,8,30,22,435,2602,109,12,413,41,466,131,66,2243,4836,1698
34,OHIO,256625,7642,37720,235,474,2795,4138,30043,901,234,2550,19,4534,3217,734,28943,36528,17659
35,OKLAHOMA,134295,5155,17945,144,231,669,4111,14507,513,182,1897,437,1240,1764,538,15931,14563,2712
36,OREGON,133414,4289,24655,68,229,933,3059,20634,1219,261,1625,33,4655,1744,1145,19262,14966,10202
37,PENNSYLVANIA,418838,23179,58946,445,953,6470,15311,46076,2593,547,6685,442,9509,4222,2452,52483,48519,48699
38,RHODE ISLAND,29852,702,3368,6,56,141,499,2439,111,45,542,102,1108,281,87,3111,2508,2880
39,SOUTH CAROLINA,169884,7870,26954,273,322,1309,5966,21521,800,154,5124,399,3409,1931,491,26287,15674,13384
40,SOUTH DAKOTA,29023,577,3544,14,46,35,482,3025,128,30,562,29,600,128,73,3694,5269,1984
41,TENNESSEE,386758,16546,45236,316,429,2331,13470,34706,2131,286,9055,745,4706,3532,913,40911,25559,11877
42,TEXAS,1026398,30462,128461,640,1708,6495,21619,106018,3883,600,11801,490,11431,9637,4061,126695,85715,32867
43,UTAH,47321,703,8138,13,117,88,485,7237,156,23,473,9,1486,493,471,5207,3184,1669
44,VERMONT,10907,421,1487,4,36,9,372,1124,95,10,231,47,346,15,25,1041,2264,592
45,VIRGINIA,347903,6721,38670,269,336,1982,4134,32650,1008,279,6731,1621,4852,3749,1083,35416,28950,5345
46,WASHINGTON,129201,5295,24813,99,454,1139,3603,20072,799,177,731,53,4270,1549,616,12570,11101,3548
47,WEST VIRGINIA,50204,1947,6537,46,61,236,1604,5239,250,41,785,138,923,391,152,6798,5356,1033
48,WISCONSIN,317773,7448,35805,127,693,1775,4853,30489,1035,155,3684,168,8302,3799,2510,24140,28798,48195
49,WYOMING,34041,560,2735,8,31,28,493,2369,94,31,196,3,662,118,151,3205,4970,1257

In [35]:
#  View 2012 Data
excel_reader_pd_2012

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ALABAMA,1918.0,23.0,489,1,1.0,14,7,462,3,0,22,20,4,16,4,306,286,17
1,ALASKA,29690.0,1618.0,3602,16,86.0,203,1313,3055,203,35,158,104,770,225,275,1547,2951,928
2,ARIZONA,256968.0,8101.0,38802,235,220.0,1836,5810,32314,1535,638,2037,213,10437,2281,1489,27273,31263,14071
3,ARKANSAS,137962.0,4137.0,16680,119,172.0,626,3220,13532,352,53,1824,46,1430,1158,184,11083,9226,3453
4,CALIFORNIA,1228185.0,103122.0,144300,1594,1642.0,16676,83210,78489,13303,1065,7054,1074,18488,25841,11139,194290,172345,8831
5,COLORADO,213769.0,5375.0,23128,116,333.0,868,4058,19726,1002,223,1491,103,4963,1743,619,15953,26180,8970
6,CONNECTICUT,110186.0,4438.0,16280,134,209.0,1299,2796,12884,584,118,1182,168,2199,1227,598,9651,8612,12796
7,DELAWARE,39680.0,2387.0,8017,26,67.0,596,1698,6608,142,34,1911,188,922,327,211,5463,292,1973
8,FLORIDA,960086.0,41610.0,125581,707,1620.0,8298,30985,93335,5444,351,14988,910,6881,6177,2797,127919,44894,0
9,GEORGIA,330261.0,13663.0,50380,408,311.0,2829,10115,40239,1721,205,5496,418,4124,3500,3829,42889,27903,25067
10,HAWAII,8832.0,267.0,972,3,22.0,76,166,699,106,4,6,0,56,108,32,892,879,122
11,IDAHO,64164.0,1482.0,7225,19,90.0,100,1273,5894,195,79,419,50,1152,525,300,6848,9097,2185
12,ILLINOIS,125398.0,6685.0,18344,319,381.0,2440,3545,13579,2387,61,212,1,3504,3982,549,35715,4192,10613
13,INDIANA,151935.0,5987.0,22874,169,114.0,1104,4600,18588,1063,129,1421,79,1872,1462,1327,18372,14844,5491
14,IOWA,102554.0,4128.0,13911,28,89.0,244,3767,11584,342,128,766,95,2197,618,191,8666,10845,5954
15,KANSAS,78153.0,2269.0,7934,43,146.0,221,1859,6444,426,55,841,196,1974,616,279,7629,10378,2833
16,KENTUCKY,179435.0,3704.0,21538,161,248.0,1231,2064,16744,674,181,976,432,1126,1122,400,21141,23157,4960
17,LOUISIANA,122931.0,7741.0,21778,182,222.0,937,6400,17310,577,100,1217,20,2102,1519,563,15748,5259,9572
18,MAINE,51052.0,770.0,8260,19,51.0,233,467,6618,264,76,659,55,1472,406,277,5544,5834,1883
19,MARYLAND,214837.0,9665.0,27862,218,336.0,2989,6122,19861,1619,299,1288,266,3205,3189,1143,39733,16769,6025
20,MASSACHUSETTS,137532.0,10719.0,18900,52,243.0,1590,8834,14741,563,110,1329,143,3217,1311,547,11599,8541,6881
21,MICHIGAN,252589.0,11537.0,33189,157,557.0,2003,8820,25928,1612,263,4282,825,3088,3843,859,31823,29206,8561
22,MINNESOTA,NaN,NaN,24025,44,NaN,579,2598,20612,928,154,1748,33,3002,931,1076,15087,22278,9381
23,MISSISSIPPI,94386.0,1724.0,10320,83,127.0,406,1108,8032,347,47,1355,559,887,841,246,10678,10221,6294
24,MISSOURI,289864.0,10020.0,42838,289,389.0,1968,7374,35286,1684,284,2493,284,5126,3230,1801,34943,26860,12274
25,MONTANA,32384.0,907.0,4671,10,54.0,57,786,4098,197,45,139,40,1072,91,96,2077,4418,3445
26,NEBRASKA,77665.0,2080.0,10893,30,200.0,334,1516,9586,369,87,1456,77,2571,914,570,10433,10639,3364
27,NEVADA,142459.0,6557.0,15569,120,199.0,1519,4719,11875,664,113,1531,436,1782,1464,1257,15001,11576,1905
28,NEW HAMPSHIRE,45492.0,879.0,4602,8,58.0,208,605,3879,93,51,793,39,1273,74,132,3941,4109,1358
29,NEW JERSEY,328432.0,11341.0,32995,220,316.0,3528,7277,25560,674,235,3106,204,4638,3957,1260,51111,25697,17853
30,NEW MEXICO,98410.0,4016.0,12560,83,122.0,337,3474,10282,307,254,468,194,1132,609,153,8044,10126,3352
31,NEW YORK,338463.0,14318.0,62766,206,455.0,3720,9937,51088,2124,374,6062,97,17728,4011,3419,65840,33053,11942
32,NORTH CAROLINA,435932.0,18825.0,66248,560,530.0,3774,13961,49443,1217,370,14901,1352,7621,6618,1636,38240,46855,12450
33,NORTH DAKOTA,29084.0,528.0,3119,7,40.0,46,435,2736,145,19,423,43,504,213,84,2446,5730,1992
34,OHIO,227243.0,6236.0,35439,181,376.0,2020,3659,29238,550,158,2162,11,3969,2518,659,26936,35629,14904
35,OKLAHOMA,127825.0,4760.0,17664,133,228.0,591,3808,14444,495,193,1711,408,1302,1984,543,16688,13801,2571
36,OREGON,127754.0,4205.0,25279,83,221.0,1110,2791,21158,1404,229,1700,36,4049,1712,1144,18929,13592,10185
37,PENNSYLVANIA,433863.0,23412.0,62665,548,947.0,6432,15485,49597,2543,566,6866,440,9279,4154,2584,55610,49103,48505
38,RHODE ISLAND,33191.0,901.0,3638,10,69.0,172,650,2757,123,30,549,115,1106,404,104,3665,2548,2990
39,SOUTH CAROLINA,169384.0,7257.0,27199,261,320.0,1320,5356,21598,776,160,4477,319,2731,1966,543,27174,17906,13064
40,SOUTH DAKOTA,35365.0,769.0,3865,10,67.0,49,643,3294,152,30,674,52,580,164,71,4372,5816,2184
41,TENNESSEE,356340.0,16800.0,44154,261,378.0,2171,13990,34996,2087,219,7908,782,4414,3568,842,43448,26858,10847
42,TEXAS,1009136.0,30245.0,129856,708,1724.0,6365,21448,108304,3985,538,10205,429,10796,10222,4087,133110,85436,29385
43,UTAH,117185.0,2045.0,19502,32,154.0,373,1486,17697,408,82,817,26,3741,1291,871,12710,6061,3999
44,VERMONT,13073.0,519.0,1824,8,61.0,21,429,1380,88,26,266,48,364,20,32,1390,2517,679
45,VIRGINIA,339362.0,6765.0,37598,271,312.0,1699,4483,31879,835,310,6460,1522,4504,3556,1079,38038,28908,5141
46,WASHINGTON,172362.0,7200.0,31512,122,437.0,1704,4937,25737,970,201,846,56,4773,1772,615,12706,30501,3191
47,WEST VIRGINIA,46364.0,1750.0,6465,43,61.0,201,1445,5251,229,45,711,130,854,354,150,6647,5654,1081
48,WISCONSIN,324207.0,8481.0,38666,151,559.0,1639,6132,33269,1091,170,3773,198,8620,3715,2779,26073,29126,45856
49,WYOMING,30404.0,458.0,2509,13,27.0,29,389,2121,86,36,183,3,605,92,120,3036,4147,1004

In [36]:
#  View 2013 Data
excel_reader_pd_2013

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ALABAMA,2119,26,684,2,2,12,10,670,2,1,15,17,6,27,0,325,259,21
1,ALASKA,29568,1638,4006,22,106,222,1288,3461,215,66,172,87,776,234,219,1475,2689,939
2,ARIZONA,279551,9493,42399,253,265,1815,7160,36258,1623,216,2287,201,11283,2637,1688,30962,31662,15533
3,ARKANSAS,138054,4013,16631,95,211,650,3057,13443,369,57,1584,27,1308,997,192,11391,7811,3292
4,CALIFORNIA,1212801,101342,139624,1425,1600,15930,82387,74234,13909,1091,6722,1053,17445,25676,10286,217520,161055,7205
5,COLORADO,230910,5691,28833,120,333,1000,4238,24873,1340,195,1758,89,5141,1841,687,12370,28723,10359
6,CONNECTICUT,95685,3562,15338,48,178,1117,2219,12300,574,399,1018,185,1936,1030,427,9137,8207,10032
7,DELAWARE,37321,2175,7407,9,64,511,1591,6295,93,28,1795,196,907,332,188,6250,325,1782
8,DISTRICT OF COLUMBIA,6154,108,99,0,0,77,31,94,5,0,2,1,28,67,0,323,10,57
9,FLORIDA,904135,40567,122990,662,1842,7940,30123,94392,5452,324,13988,950,6680,5088,2663,126137,41994,0
10,GEORGIA,323435,12146,49993,455,346,2714,8631,40956,1579,200,5334,518,3667,3392,3564,44539,25912,23724
11,HAWAII,9556,300,1350,1,19,57,223,972,144,9,5,0,80,112,40,1087,998,139
12,IDAHO,61668,1519,6690,19,86,107,1307,5422,182,60,373,52,981,437,266,7591,8109,2006
13,ILLINOIS,120760,6076,16792,363,9,2541,3163,12315,2487,58,202,1,3096,3438,562,35001,3868,11639
14,INDIANA,129146,6138,21723,158,167,1059,4754,18047,1042,111,1047,145,1464,1437,1057,12470,12295,4278
15,IOWA,101402,4055,15466,32,102,348,3573,13079,457,140,724,72,2069,711,224,9182,9825,5515
16,KANSAS,78182,2145,7209,63,130,206,1746,5904,383,55,940,202,2002,594,246,8130,9730,2337
17,KENTUCKY,178212,3687,22506,129,187,1275,2096,18060,607,170,1063,428,1096,1007,418,21830,21946,4715
18,LOUISIANA,149789,8563,28322,205,263,954,7141,23026,843,100,1643,158,2758,1815,760,20727,6182,7929
19,MAINE,49548,808,7749,17,82,177,532,6358,250,46,669,43,1255,304,222,5608,5826,1663
20,MARYLAND,168692,6925,20773,166,207,2156,4396,15382,926,259,1041,191,2222,2384,578,34006,14793,3930
21,MASSACHUSETTS,135362,10512,19719,50,270,1573,8619,15672,560,124,1490,133,2864,1384,450,11206,8381,6522
22,MICHIGAN,251825,11591,32025,247,627,2104,8613,25344,1547,249,4326,1010,2831,4035,837,34128,27643,7326
23,MINNESOTA,158799,5636,28649,91,564,1196,3785,24895,1015,101,2145,25,3213,1736,1201,19056,21206,10832
24,MISSISSIPPI,72824,1404,8978,95,86,325,898,7394,263,76,954,437,673,705,187,8037,7764,4606
25,MISSOURI,276973,9234,40261,238,232,1938,6826,33284,1659,199,2601,299,4637,3050,1509,35131,23950,11253
26,MONTANA,30089,837,4785,15,36,63,723,4251,209,14,207,38,921,86,79,1958,4300,3272
27,NEBRASKA,69957,1912,9981,42,156,270,1444,8839,325,64,1348,82,2103,956,502,10366,9193,2724
28,NEVADA,122498,6200,13930,117,202,1517,4364,10380,744,138,1416,393,1586,1560,1080,11207,8841,1495
29,NEW HAMPSHIRE,44554,871,5222,8,52,241,570,4637,85,30,899,47,1242,96,164,4270,3700,1191
30,NEW JERSEY,302955,10871,31093,232,289,3557,6793,24643,666,218,2956,271,3980,3969,1180,50775,23765,13653
31,NEW MEXICO,65526,3149,10782,71,93,226,2759,8740,217,643,366,165,891,402,119,4773,6352,1762
32,NEW YORK,300442,12902,59628,254,354,3605,8689,49635,1794,327,5444,90,15131,3248,2191,61633,29977,9750
33,NORTH CAROLINA,395015,17148,62371,567,411,3876,12294,46754,1137,317,13751,1291,6579,6120,1394,35470,41247,10608
34,NORTH DAKOTA,30642,585,2947,8,32,44,501,2556,157,16,377,36,453,333,77,3345,7077,1848
35,OHIO,224248,6589,35489,134,368,2191,3896,29585,705,227,2376,39,3684,2781,680,28612,33808,13498
36,OKLAHOMA,125534,4908,18620,156,207,658,3887,15517,517,225,1666,436,1241,2148,498,16946,13244,2419
37,OREGON,54323,1648,9446,29,53,288,1278,7816,567,103,901,19,2080,847,338,10009,6699,3282
38,PENNSYLVANIA,413486,22113,61049,460,1152,5873,14628,48997,2328,444,6765,441,8089,4153,2304,54452,45744,44251
39,RHODE ISLAND,30598,848,3590,10,72,188,578,2707,132,44,497,101,953,342,114,2240,2576,2767
40,SOUTH CAROLINA,181016,7607,30727,295,347,1320,5645,25399,726,142,4692,364,3018,2033,453,28838,18919,14052
41,SOUTH DAKOTA,35061,780,3301,12,33,35,700,2763,161,20,649,29,517,179,69,5382,6328,2038
42,TENNESSEE,371938,17896,45903,361,353,2189,14993,37063,1927,198,7165,727,4399,3351,799,46923,26276,9598
43,TEXAS,931814,29631,128617,648,1572,6642,20769,108288,4167,491,9102,439,9678,10042,3799,133711,78352,20602
44,UTAH,131389,2064,18253,33,164,371,1496,16721,365,64,977,26,3161,1114,850,13377,9038,4361
45,VERMONT,13418,510,1989,6,59,31,414,1614,60,29,271,50,328,22,37,1250,2476,743
46,VIRGINIA,321040,6858,37223,331,326,1754,4447,32079,867,203,6151,1520,4255,3501,1031,39536,25813,4536
47,WASHINGTON,189806,7699,36129,121,436,1868,5274,29491,1232,175,931,78,5645,1855,602,11346,29153,3533
48,WEST VIRGINIA,49225,1834,6900,29,58,171,1576,5816,174,32,704,145,721,354,154,6651,5960,885
49,WISCONSIN,305446,8002,36871,146,619,1687,5550,31782,1064,209,3789,259,7115,3708,2371,25582,26562,43614
50,WYOMING,31636,529,3052,13,37,24,455,2684,107,30,200,8,560,91,139,3527,3893,1026

In [37]:
#  View 2014 Data
excel_reader_pd_2014

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ALABAMA,1815,33,695,1,1,20,11,679,0,1,19,7,5,15,0,220,162,21
1,ALASKA,25935,1577,3451,19,87,208,1263,2824,204,141,182,62,732,218,250,1159,2336,731
2,ARIZONA,261448,8899,41250,181,303,1593,6822,35580,1579,198,2076,156,10747,2370,1629,29670,26843,14777
3,ARKANSAS,119850,3998,15484,86,243,582,3087,12845,413,50,1256,44,1252,898,118,11168,6844,2462
4,CALIFORNIA,1217089,106058,134746,1427,2443,14793,87395,71440,13755,1053,6551,1047,17175,24484,9727,229083,155285,6308
5,COLORADO,239994,5936,32318,128,458,939,4411,27857,1565,225,1928,88,5296,2164,525,13381,27874,9801
6,CONNECTICUT,107855,4051,17132,94,238,1166,2553,13857,581,285,963,164,2011,1129,389,9927,8918,11949
7,DELAWARE,36780,2126,7963,22,78,537,1489,6780,128,28,1884,204,774,394,137,6163,334,1645
8,DISTRICT OF COLUMBIA,5709,110,128,0,1,64,45,119,8,1,3,0,38,92,0,389,10,76
9,FLORIDA,865272,39249,119875,685,1839,7712,29013,92468,6204,289,12236,954,6464,4911,2583,122190,42745,0
10,GEORGIA,307221,11535,47951,419,326,2625,8165,39374,1624,214,5485,399,3913,3363,3229,42619,23004,19913
11,HAWAII,9464,332,1072,6,22,63,241,723,130,4,11,0,72,89,20,1122,810,154
12,IDAHO,59003,1403,6673,16,108,92,1187,5417,207,63,371,60,1051,354,245,7409,7439,1666
13,ILLINOIS,108211,4655,14984,329,349,2058,1919,10688,2544,74,267,0,2896,3343,534,29478,3653,9651
14,INDIANA,143682,7463,22937,189,170,1185,5919,19081,1271,97,1355,130,1390,1559,828,16167,14878,3900
15,IOWA,100607,4158,14885,28,157,361,3612,12882,394,110,761,74,2289,742,193,9115,9952,5443
16,KANSAS,68291,1992,6214,37,151,205,1599,4943,395,57,648,159,1808,450,194,7677,8438,2146
17,KENTUCKY,178916,3790,23106,159,249,1260,2122,18825,629,145,1135,483,1097,1015,370,21644,19953,4537
18,LOUISIANA,121145,5215,20526,165,218,669,4163,16290,721,70,1154,98,1968,1585,619,17693,5598,5777
19,MAINE,47815,762,7286,10,65,164,523,6117,222,42,643,58,1168,270,207,5802,5531,1568
20,MARYLAND,195120,8322,24566,195,284,2692,5151,18584,1112,246,1048,227,2527,2739,874,37780,17839,5875
21,MASSACHUSETTS,125708,10181,17915,47,274,1464,8396,14437,603,87,1288,133,2759,1293,436,10516,7530,5594
22,MICHIGAN,246442,11260,27848,278,641,1631,8710,22631,1259,215,4000,912,2326,3606,604,33567,28072,6740
23,MINNESOTA,151155,5564,27659,87,543,1151,3783,24079,1086,83,2286,64,3094,1797,1159,19148,20586,10149
24,MISSISSIPPI,79522,1626,10006,124,83,406,1013,8187,295,67,1120,443,739,858,184,8958,8174,4457
25,MISSOURI,256349,9220,37807,248,488,1747,6737,31453,1767,184,2244,330,4229,2735,1395,33496,22187,9259
26,MONTANA,29766,946,4927,11,52,49,834,4387,226,35,269,40,855,97,85,2205,4461,3086
27,NEBRASKA,73802,2237,10825,45,145,294,1753,9697,341,53,1419,94,2368,1016,470,11965,8372,3188
28,NEVADA,122274,7808,13639,122,279,1809,5598,9987,851,65,1513,344,1500,1492,1002,12508,8072,1589
29,NEW HAMPSHIRE,46180,864,4918,1,54,205,604,4390,83,34,873,95,1158,108,143,6224,4528,1046
30,NEW JERSEY,303639,10377,30216,247,315,3327,6488,24468,537,213,4891,321,3792,3832,1129,52721,23031,14943
31,NEW MEXICO,81447,3813,10166,73,116,230,3394,8461,287,43,553,166,906,408,105,5529,7384,2251
32,NEW YORK,264268,11907,51764,210,422,3415,7860,43326,1627,281,4874,46,13593,3218,1938,58782,26587,7596
33,NORTH CAROLINA,369728,16763,60597,494,401,3330,12538,46549,1099,275,12783,1277,6624,6398,1216,34695,39743,8729
34,NORTH DAKOTA,30653,616,3132,16,54,57,489,2703,190,15,374,61,435,356,69,4004,6664,1640
35,OHIO,244134,6681,37913,212,476,2084,3909,32230,751,196,2460,48,3838,3204,665,36331,34626,15787
36,OKLAHOMA,123408,4673,19023,129,236,717,3591,15985,576,161,1602,475,1153,1988,466,17721,12741,2062
37,OREGON,71804,2374,14717,43,132,535,1664,12482,885,109,1411,24,2382,1060,531,11165,6020,5445
38,PENNSYLVANIA,415346,21135,61383,402,1095,5590,14048,50564,2323,473,7499,455,7676,4739,2230,57392,47019,40711
39,RHODE ISLAND,30447,782,3357,14,61,123,584,2546,118,49,510,120,934,353,94,1913,2721,2783
40,SOUTH CAROLINA,157253,6693,26158,224,312,1211,4946,21845,701,123,3835,391,2679,1781,369,26720,11226,11374
41,SOUTH DAKOTA,35375,866,3565,9,51,59,747,3099,130,27,627,35,452,145,49,5406,5990,2285
42,TENNESSEE,358850,17122,44517,309,352,2068,14393,36210,2124,236,6666,763,4626,2971,620,41493,26657,8442
43,TEXAS,849887,29135,122822,710,1912,5995,20518,103547,4494,508,7817,501,8989,9246,3547,135683,70482,12141
44,UTAH,118405,2206,19420,43,235,440,1488,17828,410,84,1026,31,2979,1080,808,14630,8063,3615
45,VERMONT,11381,473,1473,11,41,25,396,1220,30,14,205,46,261,18,33,661,2189,684
46,VIRGINIA,300102,6923,35123,278,471,1591,4583,30626,803,204,5718,1609,3929,3197,833,36988,23611,4136
47,WASHINGTON,183687,7707,35757,137,479,1851,5240,29320,1248,207,991,68,5132,1739,661,11111,26952,3260
48,WEST VIRGINIA,43394,1870,7115,42,86,154,1588,6189,196,25,571,150,649,314,126,5994,4723,634
49,WISCONSIN,281399,7487,36709,171,677,1580,5059,32264,1138,144,3022,258,7073,3955,2239,24854,24330,39032
50,WYOMING,28872,453,2770,19,39,18,377,2418,84,43,168,12,554,90,128,3459,3742,921

In [8]:
#  View 2015 Data
excel_reader_pd_2015

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ALABAMA,140450,5537,19386,283,336,1088,3830,15558,727,93,4119,240,1489,1374,457,8967,7863,2187
1,ALASKA,31402,2193,3453,47,118,294,1734,2540,361,67,230,72,898,303,240,1212,3163,795
2,ARIZONA,226367,7161,30609,134,230,1047,5750,26717,1064,156,1505,139,7934,1929,1080,24892,22367,16750
3,ARKANSAS,127083,4667,15771,123,273,589,3682,13357,364,73,1145,54,1350,886,134,12700,6919,2185
4,CALIFORNIA,1158479,107454,127671,1431,2465,15841,87717,65037,17303,1185,6499,972,17143,25946,9395,206194,141458,4674
5,COLORADO,226807,6242,31067,165,460,1005,4612,26358,2150,178,2083,99,5309,2219,484,14430,25562,8875
6,CONNECTICUT,85327,3116,14016,85,179,983,1869,11594,574,72,786,158,1473,924,394,7635,8148,8159
7,DELAWARE,34687,2219,7328,42,76,496,1605,6195,104,32,1705,214,860,332,117,5734,386,1235
8,DISTRICT OF COLUMBIA,7218,124,94,0,0,87,37,88,6,0,0,4,31,67,0,232,8,111
9,FLORIDA,772956,38453,115264,671,1800,7191,28791,88770,7290,285,11880,1024,6566,4877,2243,114988,31783,0
10,GEORGIA,231108,8537,35014,306,211,1756,6264,29109,1113,125,4246,285,2789,2655,2199,34837,19217,12086
11,HAWAII,37603,1261,4353,24,145,367,725,3342,469,30,272,34,467,190,195,2160,5250,821
12,IDAHO,52162,1447,6002,14,112,102,1219,4807,208,60,352,47,909,320,222,6541,5844,1497
13,ILLINOIS,91218,4102,13237,272,280,1728,1822,8866,2986,64,226,0,2343,3491,414,24101,3659,6763
14,INDIANA,150628,7327,21625,200,183,1192,5752,17903,1394,83,1569,143,1338,2069,886,16526,14428,3619
15,IOWA,89891,4512,14137,43,136,362,3971,11998,449,105,653,82,1931,705,167,8114,9028,4137
16,KANSAS,62188,1991,6167,53,140,221,1577,5046,347,53,582,159,1624,425,172,7756,7186,1954
17,KENTUCKY,195415,3484,20873,159,238,1136,1951,16949,681,74,1135,467,1059,872,375,22106,17825,4453
18,LOUISIANA,111454,4813,18898,151,231,645,3786,15168,741,70,854,20,1569,1763,507,17686,5339,5350
19,MAINE,45230,800,6480,21,59,182,538,5361,236,29,563,46,1005,228,184,5947,5756,1317
20,MARYLAND,159178,8244,22032,257,336,2698,4953,16408,1098,240,817,193,2227,2716,692,26154,17100,4475
21,MASSACHUSETTS,116347,9841,15577,52,270,1200,8319,12664,564,53,1186,127,2528,1300,432,9761,8258,4349
22,MICHIGAN,240942,10836,25150,242,622,1516,8456,20815,1092,215,3671,856,2386,3289,532,34716,26845,6402
23,MINNESOTA,148307,5792,26814,119,670,1197,3806,23406,1135,118,2699,40,3203,1867,1083,17342,20830,10090
24,MISSISSIPPI,71916,1271,8453,103,85,324,759,6850,309,41,1021,387,651,875,162,9010,6889,3777
25,MISSOURI,222609,9682,34559,253,538,1893,6998,28339,1899,142,2238,323,4052,2936,1218,34052,19449,8042
26,MONTANA,25687,907,4038,7,50,44,806,3582,219,25,223,53,792,75,79,1961,3674,2585
27,NEBRASKA,45859,1170,5932,9,106,124,931,5241,248,48,829,28,1288,617,253,8589,5348,1786
28,NEVADA,115675,8337,12475,131,340,1996,5870,8936,805,57,1639,338,1472,1460,797,11594,7612,1250
29,NEW HAMPSHIRE,44368,772,4355,9,57,169,537,3863,96,18,822,124,927,138,123,7371,4746,943
30,NEW JERSEY,264250,8697,26181,154,338,2650,5555,21342,617,153,3498,283,3530,3268,902,46376,22201,11395
31,NEW MEXICO,87310,3984,10496,70,107,365,3442,8758,365,328,524,158,1137,529,117,7188,8542,2543
32,NEW YORK,271540,13418,51569,262,1121,3574,8461,43300,1770,276,4760,72,14382,3436,1893,62035,28988,6471
33,NORTH CAROLINA,278625,13275,46827,430,294,3002,9549,36598,867,218,8564,1130,5022,4981,968,21487,35967,6878
34,NORTH DAKOTA,32565,682,3420,19,41,44,578,2908,211,19,299,37,454,406,114,4475,6351,1927
35,OHIO,226325,5361,34444,136,361,1656,3208,29967,654,153,2157,21,3289,2893,595,32827,34254,14714
36,OKLAHOMA,110974,4770,18127,179,230,700,3661,15364,555,143,1642,487,1280,2139,427,17771,11101,2264
37,OREGON,76969,2310,13709,35,117,377,1781,11448,875,150,1227,30,2525,1181,428,11152,9019,4849
38,PENNSYLVANIA,377078,18944,55827,466,1052,5043,12383,46249,2266,453,8003,424,7209,4262,2251,52281,44615,37017
39,RHODE ISLAND,27171,882,2746,17,93,162,610,2112,117,29,436,92,986,394,87,1757,2591,2417
40,SOUTH CAROLINA,151136,6061,24120,248,295,1009,4509,20228,721,105,3079,363,2678,1752,298,25666,16272,9044
41,SOUTH DAKOTA,48048,1190,3638,17,52,67,1054,3118,210,27,725,34,516,210,64,7058,7305,2895
42,TENNESSEE,335281,16399,42241,311,340,1906,13842,34613,2213,129,6065,801,4843,2472,654,38486,23150,7184
43,TEXAS,808119,31493,117371,749,2095,6956,21693,98494,5528,454,6818,659,8480,10861,3244,131851,64971,9905
44,UTAH,115453,2418,19416,29,244,439,1706,17745,450,68,1051,34,2857,1137,740,14913,8813,3459
45,VERMONT,11183,472,1402,7,40,35,390,1176,29,8,184,60,275,17,25,610,2144,703
46,VIRGINIA,268167,6247,31971,289,448,1392,4118,28164,810,164,5079,1371,3746,3160,674,33558,20477,3106
47,WASHINGTON,186866,7822,33708,155,488,1831,5348,27244,1376,188,930,56,5223,1771,606,11026,24627,3009
48,WEST VIRGINIA,40568,1743,6480,35,77,144,1487,5563,197,35,583,138,746,378,116,6187,4543,654
49,WISCONSIN,265628,7522,31519,180,690,1562,5090,27432,1163,135,2890,283,6476,4022,2067,25302,24588,36191
50,WYOMING,27058,553,2541,10,35,34,474,2157,95,61,156,10,490,76,130,3695,3157,961

In [9]:
total_crime_2015 = excel_reader_pd_2015[["State", "Total Crime"]].sort_values('Total Crime', ascending=True)
total_crime_2015.head(5)

                   State  Total Crime
8   DISTRICT OF COLUMBIA         7218
45               VERMONT        11183
26               MONTANA        25687
50               WYOMING        27058
39          RHODE ISLAND        27171

In [33]:
DC_2015 = total_crime_2015.loc[(total_crime_2015["State"] == "DISTRICT OF COLUMBIA")]
DC_X = DC_2015["State"]
DC_Y = DC_2015["Total Crime"]
plt.scatter(DC_X, DC_Y, s=300, marker="o", facecolors="red", edgecolors="black", alpha=0.8, label="DC")

VT_2015 = total_crime_2015.loc[(total_crime_2015["State"] == "VERMONT")]
VT_X = VT_2015["State"]
VT_Y = VT_2015["Total Crime"]
plt.scatter(VT_X, VT_Y, s=300, marker="o", facecolors="green", edgecolors="black", alpha=0.8, label="VT")

MO_2015 = total_crime_2015.loc[(total_crime_2015["State"] == "MONTANA")]
MO_X = MO_2015["State"]
MO_Y = MO_2015["Total Crime"]
plt.scatter(MO_X, MO_Y, s=300, marker="o", facecolors="blue", edgecolors="black", alpha=0.8, label="MO")

WY_2015 = total_crime_2015.loc[(total_crime_2015["State"] == "WYOMING")]
WY_X = WY_2015["State"]
WY_Y = WY_2015["Total Crime"]
plt.scatter(WY_X, WY_Y, s=300, marker="o", facecolors="gold", edgecolors="black", alpha=0.8, label="WY")

RI_2015 = total_crime_2015.loc[(total_crime_2015["State"] == "RHODE ISLAND")]
RI_X = RI_2015["State"]
RI_Y = RI_2015["Total Crime"]
plt.scatter(RI_X, RI_Y, s=300, marker="o", facecolors="purple", edgecolors="black", alpha=0.8, label="RI")

# Incorporate the other graph properties
plt.grid()

plt.xticks(rotation=10)

# Create a legend
lgd = plt.legend(title="States")
for handle in lgd.legendHandles:
   handle.set_sizes([25.0])

# Create a title, x label, and y label for our chart
plt.title("The Lowest Total Crime in 2015 by State", fontdict={'fontsize': 14, 'fontweight': 'medium'})
plt.xlabel("State", fontdict={'fontsize': 14, 'fontweight': 'medium'}, labelpad=-11)
plt.ylabel("Total Crime Per State", fontdict={'fontsize': 14, 'fontweight': 'medium'}, labelpad=4)

# Save Figure
plt.savefig("Images/LowestTotalCrime2015.png")

In [38]:
path =r'C:\Users\LiteraryGamerGirlT\Desktop\Startup Locator Project\Resources'

allFiles = glob.glob(path + "/*.xls")

list_ = []

for file_ in allFiles:
    df = pd.read_excel(file_,index_col=None)
    list_.append(df)

frame = pd.concat(list_, axis = 0, ignore_index = True, sort=False)

frame

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ALABAMA,2101.0,15.0,531,0,0.0,11,4,509,5,0,9,16,10,20,0,300,287,30
1,ALASKA,39607.0,2006.0,3824,32,81.0,225,1668,3097,266,44,245,102,887,401,356,2341,4420,1115
2,ARIZONA,285528.0,8589.0,40144,244,196.0,1736,6413,33888,1402,239,2101,200,11164,2400,1702,30886,35496,17374
3,ARKANSAS,108281.0,3229.0,12948,59,139.0,435,2596,10213,285,59,1952,35,1125,943,133,8783,7758,2681
4,CALIFORNIA,1183470.0,107165.0,147842,1512,1757.0,17431,86465,84090,10350,1047,6998,1100,21921,27690,11143,188188,104345,11246
5,COLORADO,208352.0,5701.0,23445,107,400.0,936,4258,19719,1084,235,1700,121,4971,1701,818,15109,27314,9672
6,CONNECTICUT,119285.0,4817.0,17366,128,267.0,1397,3025,13813,612,170,1297,161,2310,1244,560,13667,8487,12458
7,DELAWARE,37832.0,2328.0,7325,29,93.0,583,1623,6187,116,41,1803,186,880,327,181,5110,242,2141
8,DISTRICT OF COLUMBIA,8725.0,157.0,175,0,0.0,118,39,165,10,0,17,0,29,59,0,204,43,159
9,FLORIDA,952845.0,43364.0,128489,709,1527.0,9148,31980,94047,5345,319,13992,939,7364,5785,2734,130296,43784,0
10,GEORGIA,349708.0,14419.0,53874,460,350.0,2787,10822,41729,2148,401,6294,406,4147,3971,4032,42812,31176,26769
11,IDAHO,63005.0,1303.0,7037,17,68.0,82,1136,5859,183,47,437,54,1162,427,275,6558,9161,2220
12,ILLINOIS,132863.0,6939.0,18924,290,409.0,2524,3716,13683,2610,61,232,0,3904,3941,609,38701,3619,11031
13,INDIANA,194774.0,8398.0,30383,243,187.0,1687,6281,24499,1527,134,1699,21,2011,1880,1277,23345,20043,6873
14,IOWA,105015.0,3939.0,14424,33,110.0,202,3594,11985,381,134,784,68,2520,566,213,9139,11889,6155
15,KANSAS,78391.0,2236.0,7624,44,187.0,189,1816,6193,382,67,931,163,1875,600,301,7364,11470,2746
16,KENTUCKY,176087.0,3563.0,19953,114,244.0,1146,2059,15397,596,142,1164,333,1236,1082,394,21383,22973,4998
17,LOUISIANA,119085.0,8420.0,19892,158,208.0,959,7095,15419,577,122,1411,24,2537,1515,613,14925,6032,9772
18,MAINE,51592.0,751.0,8142,17,75.0,204,455,6368,301,77,755,56,1487,403,253,5627,5802,1709
19,MARYLAND,229010.0,9551.0,28345,202,305.0,2819,6225,20403,1585,375,1554,289,3267,3235,1175,41022,17402,6306
20,MASSACHUSETTS,137379.0,11512.0,18428,90,288.0,1808,9326,13955,697,83,1181,90,3138,1479,566,10849,9887,7384
21,MICHIGAN,251200.0,11856.0,34176,158,589.0,2141,8968,25970,1895,266,4648,917,3125,3926,862,31486,29443,8563
22,MINNESOTA,176051.0,5140.0,28405,69,152.0,1196,3723,24268,977,167,2382,30,3886,1688,1331,17727,24543,13184
23,MISSISSIPPI,102765.0,2223.0,11509,173,161.0,625,1264,8639,402,95,1551,517,937,828,314,10862,11251,6783
24,MISSOURI,295080.0,10401.0,41476,252,382.0,2117,7650,33181,1571,249,2643,255,5300,3353,2018,35383,29447,13006
25,MONTANA,29678.0,829.0,4118,10,40.0,45,734,3698,163,32,171,34,965,71,61,1790,4251,3458
26,NEBRASKA,81890.0,2111.0,11062,53,213.0,355,1490,9707,364,89,1230,75,2587,835,560,10423,12005,3761
27,NEVADA,141908.0,5690.0,14355,107,168.0,1491,3924,10895,505,376,1354,403,2230,1499,1243,15562,11834,2765
28,NEW HAMPSHIRE,40699.0,860.0,4152,4,42.0,159,655,3522,75,39,689,35,1122,77,142,3631,3616,1116
29,NEW JERSEY,333136.0,11947.0,33726,207,279.0,3561,7900,26191,688,263,3323,211,5227,4081,1298,46377,26206,17791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,MASSACHUSETTS,116347.0,9841.0,15577,52,270.0,1200,8319,12664,564,53,1186,127,2528,1300,432,9761,8258,4349
224,MICHIGAN,240942.0,10836.0,25150,242,622.0,1516,8456,20815,1092,215,3671,856,2386,3289,532,34716,26845,6402
225,MINNESOTA,148307.0,5792.0,26814,119,670.0,1197,3806,23406,1135,118,2699,40,3203,1867,1083,17342,20830,10090
226,MISSISSIPPI,71916.0,1271.0,8453,103,85.0,324,759,6850,309,41,1021,387,651,875,162,9010,6889,3777
227,MISSOURI,222609.0,9682.0,34559,253,538.0,1893,6998,28339,1899,142,2238,323,4052,2936,1218,34052,19449,8042
228,MONTANA,25687.0,907.0,4038,7,50.0,44,806,3582,219,25,223,53,792,75,79,1961,3674,2585
229,NEBRASKA,45859.0,1170.0,5932,9,106.0,124,931,5241,248,48,829,28,1288,617,253,8589,5348,1786
230,NEVADA,115675.0,8337.0,12475,131,340.0,1996,5870,8936,805,57,1639,338,1472,1460,797,11594,7612,1250
231,NEW HAMPSHIRE,44368.0,772.0,4355,9,57.0,169,537,3863,96,18,822,124,927,138,123,7371,4746,943
232,NEW JERSEY,264250.0,8697.0,26181,154,338.0,2650,5555,21342,617,153,3498,283,3530,3268,902,46376,22201,11395
233,NEW MEXICO,87310.0,3984.0,10496,70,107.0,365,3442,8758,365,328,524,158,1137,529,117,7188,8542,2543
234,NEW YORK,271540.0,13418.0,51569,262,1121.0,3574,8461,43300,1770,276,4760,72,14382,3436,1893,62035,28988,6471
235,NORTH CAROLINA,278625.0,13275.0,46827,430,294.0,3002,9549,36598,867,218,8564,1130,5022,4981,968,21487,35967,6878
236,NORTH DAKOTA,32565.0,682.0,3420,19,41.0,44,578,2908,211,19,299,37,454,406,114,4475,6351,1927
237,OHIO,226325.0,5361.0,34444,136,361.0,1656,3208,29967,654,153,2157,21,3289,2893,595,32827,34254,14714
238,OKLAHOMA,110974.0,4770.0,18127,179,230.0,700,3661,15364,555,143,1642,487,1280,2139,427,17771,11101,2264
239,OREGON,76969.0,2310.0,13709,35,117.0,377,1781,11448,875,150,1227,30,2525,1181,428,11152,9019,4849
240,PENNSYLVANIA,377078.0,18944.0,55827,466,1052.0,5043,12383,46249,2266,453,8003,424,7209,4262,2251,52281,44615,37017
241,RHODE ISLAND,27171.0,882.0,2746,17,93.0,162,610,2112,117,29,436,92,986,394,87,1757,2591,2417
242,SOUTH CAROLINA,151136.0,6061.0,24120,248,295.0,1009,4509,20228,721,105,3079,363,2678,1752,298,25666,16272,9044
243,SOUTH DAKOTA,48048.0,1190.0,3638,17,52.0,67,1054,3118,210,27,725,34,516,210,64,7058,7305,2895
244,TENNESSEE,335281.0,16399.0,42241,311,340.0,1906,13842,34613,2213,129,6065,801,4843,2472,654,38486,23150,7184
245,TEXAS,808119.0,31493.0,117371,749,2095.0,6956,21693,98494,5528,454,6818,659,8480,10861,3244,131851,64971,9905
246,UTAH,115453.0,2418.0,19416,29,244.0,439,1706,17745,450,68,1051,34,2857,1137,740,14913,8813,3459
247,VERMONT,11183.0,472.0,1402,7,40.0,35,390,1176,29,8,184,60,275,17,25,610,2144,703
248,VIRGINIA,268167.0,6247.0,31971,289,448.0,1392,4118,28164,810,164,5079,1371,3746,3160,674,33558,20477,3106
249,WASHINGTON,186866.0,7822.0,33708,155,488.0,1831,5348,27244,1376,188,930,56,5223,1771,606,11026,24627,3009
250,WEST VIRGINIA,40568.0,1743.0,6480,35,77.0,144,1487,5563,197,35,583,138,746,378,116,6187,4543,654
251,WISCONSIN,265628.0,7522.0,31519,180,690.0,1562,5090,27432,1163,135,2890,283,6476,4022,2067,25302,24588,36191
252,WYOMING,27058.0,553.0,2541,10,35.0,34,474,2157,95,61,156,10,490,76,130,3695,3157,961

In [17]:
alabama_crime_pd = frame.loc[frame["State"] == "ALABAMA", :]
alabama_crime_pd_reindexed = alabama_crime_pd.reset_index(drop=True)
alabama_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ALABAMA,2101.0,15.0,531,0,0.0,11,4,509,5,0,9,16,10,20,0,300,287,30
1,ALABAMA,1918.0,23.0,489,1,1.0,14,7,462,3,0,22,20,4,16,4,306,286,17
2,ALABAMA,2119.0,26.0,684,2,2.0,12,10,670,2,1,15,17,6,27,0,325,259,21
3,ALABAMA,1815.0,33.0,695,1,1.0,20,11,679,0,1,19,7,5,15,0,220,162,21
4,ALABAMA,140450.0,5537.0,19386,283,336.0,1088,3830,15558,727,93,4119,240,1489,1374,457,8967,7863,2187

In [16]:
alaska_crime_pd = frame.loc[frame["State"] == "ALASKA", :]
alaska_crime_pd_reindexed = alaska_crime_pd.reset_index(drop=True)
alaska_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ALASKA,39607.0,2006.0,3824,32,81.0,225,1668,3097,266,44,245,102,887,401,356,2341,4420,1115
1,ALASKA,29690.0,1618.0,3602,16,86.0,203,1313,3055,203,35,158,104,770,225,275,1547,2951,928
2,ALASKA,29568.0,1638.0,4006,22,106.0,222,1288,3461,215,66,172,87,776,234,219,1475,2689,939
3,ALASKA,25935.0,1577.0,3451,19,87.0,208,1263,2824,204,141,182,62,732,218,250,1159,2336,731
4,ALASKA,31402.0,2193.0,3453,47,118.0,294,1734,2540,361,67,230,72,898,303,240,1212,3163,795

In [12]:
arizona_crime_pd = frame.loc[frame["State"] == "ARIZONA", :]
arizona_crime_pd_reindexed = arizona_crime_pd.reset_index(drop=True)
arizona_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ARIZONA,285528.0,8589.0,40144,244,196.0,1736,6413,33888,1402,239,2101,200,11164,2400,1702,30886,35496,17374
1,ARIZONA,256968.0,8101.0,38802,235,220.0,1836,5810,32314,1535,638,2037,213,10437,2281,1489,27273,31263,14071
2,ARIZONA,279551.0,9493.0,42399,253,265.0,1815,7160,36258,1623,216,2287,201,11283,2637,1688,30962,31662,15533
3,ARIZONA,261448.0,8899.0,41250,181,303.0,1593,6822,35580,1579,198,2076,156,10747,2370,1629,29670,26843,14777
4,ARIZONA,226367.0,7161.0,30609,134,230.0,1047,5750,26717,1064,156,1505,139,7934,1929,1080,24892,22367,16750

In [13]:
arkansas_crime_pd = frame.loc[frame["State"] == "ARKANSAS", :]
arkansas_crime_pd_reindexed = arkansas_crime_pd.reset_index(drop=True)
arkansas_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ARKANSAS,108281.0,3229.0,12948,59,139.0,435,2596,10213,285,59,1952,35,1125,943,133,8783,7758,2681
1,ARKANSAS,137962.0,4137.0,16680,119,172.0,626,3220,13532,352,53,1824,46,1430,1158,184,11083,9226,3453
2,ARKANSAS,138054.0,4013.0,16631,95,211.0,650,3057,13443,369,57,1584,27,1308,997,192,11391,7811,3292
3,ARKANSAS,119850.0,3998.0,15484,86,243.0,582,3087,12845,413,50,1256,44,1252,898,118,11168,6844,2462
4,ARKANSAS,127083.0,4667.0,15771,123,273.0,589,3682,13357,364,73,1145,54,1350,886,134,12700,6919,2185

In [14]:
cali_crime_pd = frame.loc[frame["State"] == "CALIFORNIA", :]
cali_crime_pd_reindexed = cali_crime_pd.reset_index(drop=True)
cali_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,CALIFORNIA,1183470.0,107165.0,147842,1512,1757.0,17431,86465,84090,10350,1047,6998,1100,21921,27690,11143,188188,104345,11246
1,CALIFORNIA,1228185.0,103122.0,144300,1594,1642.0,16676,83210,78489,13303,1065,7054,1074,18488,25841,11139,194290,172345,8831
2,CALIFORNIA,1212801.0,101342.0,139624,1425,1600.0,15930,82387,74234,13909,1091,6722,1053,17445,25676,10286,217520,161055,7205
3,CALIFORNIA,1217089.0,106058.0,134746,1427,2443.0,14793,87395,71440,13755,1053,6551,1047,17175,24484,9727,229083,155285,6308
4,CALIFORNIA,1158479.0,107454.0,127671,1431,2465.0,15841,87717,65037,17303,1185,6499,972,17143,25946,9395,206194,141458,4674

In [15]:
col_crime_pd = frame.loc[frame["State"] == "COLORADO", :]
col_crime_pd_reindexed = col_crime_pd.reset_index(drop=True)
col_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,COLORADO,208352.0,5701.0,23445,107,400.0,936,4258,19719,1084,235,1700,121,4971,1701,818,15109,27314,9672
1,COLORADO,213769.0,5375.0,23128,116,333.0,868,4058,19726,1002,223,1491,103,4963,1743,619,15953,26180,8970
2,COLORADO,230910.0,5691.0,28833,120,333.0,1000,4238,24873,1340,195,1758,89,5141,1841,687,12370,28723,10359
3,COLORADO,239994.0,5936.0,32318,128,458.0,939,4411,27857,1565,225,1928,88,5296,2164,525,13381,27874,9801
4,COLORADO,226807.0,6242.0,31067,165,460.0,1005,4612,26358,2150,178,2083,99,5309,2219,484,14430,25562,8875

In [16]:
conn_crime_pd = frame.loc[frame["State"] == "CONNECTICUT", :]
conn_crime_pd_reindexed = conn_crime_pd.reset_index(drop=True)
conn_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,CONNECTICUT,119285.0,4817.0,17366,128,267.0,1397,3025,13813,612,170,1297,161,2310,1244,560,13667,8487,12458
1,CONNECTICUT,110186.0,4438.0,16280,134,209.0,1299,2796,12884,584,118,1182,168,2199,1227,598,9651,8612,12796
2,CONNECTICUT,95685.0,3562.0,15338,48,178.0,1117,2219,12300,574,399,1018,185,1936,1030,427,9137,8207,10032
3,CONNECTICUT,107855.0,4051.0,17132,94,238.0,1166,2553,13857,581,285,963,164,2011,1129,389,9927,8918,11949
4,CONNECTICUT,85327.0,3116.0,14016,85,179.0,983,1869,11594,574,72,786,158,1473,924,394,7635,8148,8159

In [17]:
del_crime_pd = frame.loc[frame["State"] == "DELAWARE", :]
del_crime_pd_reindexed = del_crime_pd.reset_index(drop=True)
del_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,DELAWARE,37832.0,2328.0,7325,29,93.0,583,1623,6187,116,41,1803,186,880,327,181,5110,242,2141
1,DELAWARE,39680.0,2387.0,8017,26,67.0,596,1698,6608,142,34,1911,188,922,327,211,5463,292,1973
2,DELAWARE,37321.0,2175.0,7407,9,64.0,511,1591,6295,93,28,1795,196,907,332,188,6250,325,1782
3,DELAWARE,36780.0,2126.0,7963,22,78.0,537,1489,6780,128,28,1884,204,774,394,137,6163,334,1645
4,DELAWARE,34687.0,2219.0,7328,42,76.0,496,1605,6195,104,32,1705,214,860,332,117,5734,386,1235

In [18]:
dc_crime_pd = frame.loc[frame["State"] == "DISTRICT OF COLUMBIA", :]
dc_crime_pd_reindexed = dc_crime_pd.reset_index(drop=True)
dc_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,DISTRICT OF COLUMBIA,8725.0,157.0,175,0,0.0,118,39,165,10,0,17,0,29,59,0,204,43,159
1,DISTRICT OF COLUMBIA,6154.0,108.0,99,0,0.0,77,31,94,5,0,2,1,28,67,0,323,10,57
2,DISTRICT OF COLUMBIA,5709.0,110.0,128,0,1.0,64,45,119,8,1,3,0,38,92,0,389,10,76
3,DISTRICT OF COLUMBIA,7218.0,124.0,94,0,0.0,87,37,88,6,0,0,4,31,67,0,232,8,111

In [19]:
flo_crime_pd = frame.loc[frame["State"] == "FLORIDA", :]
flo_crime_pd_reindexed = flo_crime_pd.reset_index(drop=True)
flo_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,FLORIDA,952845.0,43364.0,128489,709,1527.0,9148,31980,94047,5345,319,13992,939,7364,5785,2734,130296,43784,0
1,FLORIDA,960086.0,41610.0,125581,707,1620.0,8298,30985,93335,5444,351,14988,910,6881,6177,2797,127919,44894,0
2,FLORIDA,904135.0,40567.0,122990,662,1842.0,7940,30123,94392,5452,324,13988,950,6680,5088,2663,126137,41994,0
3,FLORIDA,865272.0,39249.0,119875,685,1839.0,7712,29013,92468,6204,289,12236,954,6464,4911,2583,122190,42745,0
4,FLORIDA,772956.0,38453.0,115264,671,1800.0,7191,28791,88770,7290,285,11880,1024,6566,4877,2243,114988,31783,0

In [20]:
geo_crime_pd = frame.loc[frame["State"] == "GEORGIA", :]
geo_crime_pd_reindexed = geo_crime_pd.reset_index(drop=True)
geo_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,GEORGIA,349708.0,14419.0,53874,460,350.0,2787,10822,41729,2148,401,6294,406,4147,3971,4032,42812,31176,26769
1,GEORGIA,330261.0,13663.0,50380,408,311.0,2829,10115,40239,1721,205,5496,418,4124,3500,3829,42889,27903,25067
2,GEORGIA,323435.0,12146.0,49993,455,346.0,2714,8631,40956,1579,200,5334,518,3667,3392,3564,44539,25912,23724
3,GEORGIA,307221.0,11535.0,47951,419,326.0,2625,8165,39374,1624,214,5485,399,3913,3363,3229,42619,23004,19913
4,GEORGIA,231108.0,8537.0,35014,306,211.0,1756,6264,29109,1113,125,4246,285,2789,2655,2199,34837,19217,12086

In [21]:
haw_crime_pd = frame.loc[frame["State"] == "HAWAII", :]
haw_crime_pd_reindexed = haw_crime_pd.reset_index(drop=True)
haw_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,HAWAII,8832.0,267.0,972,3,22.0,76,166,699,106,4,6,0,56,108,32,892,879,122
1,HAWAII,9556.0,300.0,1350,1,19.0,57,223,972,144,9,5,0,80,112,40,1087,998,139
2,HAWAII,9464.0,332.0,1072,6,22.0,63,241,723,130,4,11,0,72,89,20,1122,810,154
3,HAWAII,37603.0,1261.0,4353,24,145.0,367,725,3342,469,30,272,34,467,190,195,2160,5250,821

In [22]:
ida_crime_pd = frame.loc[frame["State"] == "IDAHO", :]
ida_crime_pd_reindexed = ida_crime_pd.reset_index(drop=True)
ida_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,IDAHO,63005.0,1303.0,7037,17,68.0,82,1136,5859,183,47,437,54,1162,427,275,6558,9161,2220
1,IDAHO,64164.0,1482.0,7225,19,90.0,100,1273,5894,195,79,419,50,1152,525,300,6848,9097,2185
2,IDAHO,61668.0,1519.0,6690,19,86.0,107,1307,5422,182,60,373,52,981,437,266,7591,8109,2006
3,IDAHO,59003.0,1403.0,6673,16,108.0,92,1187,5417,207,63,371,60,1051,354,245,7409,7439,1666
4,IDAHO,52162.0,1447.0,6002,14,112.0,102,1219,4807,208,60,352,47,909,320,222,6541,5844,1497

In [23]:
ill_crime_pd = frame.loc[frame["State"] == "ILLINOIS", :]
ill_crime_pd_reindexed = ill_crime_pd.reset_index(drop=True)
ill_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,ILLINOIS,132863.0,6939.0,18924,290,409.0,2524,3716,13683,2610,61,232,0,3904,3941,609,38701,3619,11031
1,ILLINOIS,125398.0,6685.0,18344,319,381.0,2440,3545,13579,2387,61,212,1,3504,3982,549,35715,4192,10613
2,ILLINOIS,120760.0,6076.0,16792,363,9.0,2541,3163,12315,2487,58,202,1,3096,3438,562,35001,3868,11639
3,ILLINOIS,108211.0,4655.0,14984,329,349.0,2058,1919,10688,2544,74,267,0,2896,3343,534,29478,3653,9651
4,ILLINOIS,91218.0,4102.0,13237,272,280.0,1728,1822,8866,2986,64,226,0,2343,3491,414,24101,3659,6763

In [24]:
ind_crime_pd = frame.loc[frame["State"] == "INDIANA", :]
ind_crime_pd_reindexed = ind_crime_pd.reset_index(drop=True)
ind_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,INDIANA,194774.0,8398.0,30383,243,187.0,1687,6281,24499,1527,134,1699,21,2011,1880,1277,23345,20043,6873
1,INDIANA,151935.0,5987.0,22874,169,114.0,1104,4600,18588,1063,129,1421,79,1872,1462,1327,18372,14844,5491
2,INDIANA,129146.0,6138.0,21723,158,167.0,1059,4754,18047,1042,111,1047,145,1464,1437,1057,12470,12295,4278
3,INDIANA,143682.0,7463.0,22937,189,170.0,1185,5919,19081,1271,97,1355,130,1390,1559,828,16167,14878,3900
4,INDIANA,150628.0,7327.0,21625,200,183.0,1192,5752,17903,1394,83,1569,143,1338,2069,886,16526,14428,3619

In [25]:
io_crime_pd = frame.loc[frame["State"] == "IOWA", :]
io_crime_pd_reindexed = io_crime_pd.reset_index(drop=True)
io_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,IOWA,105015.0,3939.0,14424,33,110.0,202,3594,11985,381,134,784,68,2520,566,213,9139,11889,6155
1,IOWA,102554.0,4128.0,13911,28,89.0,244,3767,11584,342,128,766,95,2197,618,191,8666,10845,5954
2,IOWA,101402.0,4055.0,15466,32,102.0,348,3573,13079,457,140,724,72,2069,711,224,9182,9825,5515
3,IOWA,100607.0,4158.0,14885,28,157.0,361,3612,12882,394,110,761,74,2289,742,193,9115,9952,5443
4,IOWA,89891.0,4512.0,14137,43,136.0,362,3971,11998,449,105,653,82,1931,705,167,8114,9028,4137

In [26]:
kan_crime_pd = frame.loc[frame["State"] == "KANSAS", :]
kan_crime_pd_reindexed = kan_crime_pd.reset_index(drop=True)
kan_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,KANSAS,78391.0,2236.0,7624,44,187.0,189,1816,6193,382,67,931,163,1875,600,301,7364,11470,2746
1,KANSAS,78153.0,2269.0,7934,43,146.0,221,1859,6444,426,55,841,196,1974,616,279,7629,10378,2833
2,KANSAS,78182.0,2145.0,7209,63,130.0,206,1746,5904,383,55,940,202,2002,594,246,8130,9730,2337
3,KANSAS,68291.0,1992.0,6214,37,151.0,205,1599,4943,395,57,648,159,1808,450,194,7677,8438,2146
4,KANSAS,62188.0,1991.0,6167,53,140.0,221,1577,5046,347,53,582,159,1624,425,172,7756,7186,1954

In [27]:
ken_crime_pd = frame.loc[frame["State"] == "KENTUCKY", :]
ken_crime_pd_reindexed = ken_crime_pd.reset_index(drop=True)
ken_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,KENTUCKY,176087.0,3563.0,19953,114,244.0,1146,2059,15397,596,142,1164,333,1236,1082,394,21383,22973,4998
1,KENTUCKY,179435.0,3704.0,21538,161,248.0,1231,2064,16744,674,181,976,432,1126,1122,400,21141,23157,4960
2,KENTUCKY,178212.0,3687.0,22506,129,187.0,1275,2096,18060,607,170,1063,428,1096,1007,418,21830,21946,4715
3,KENTUCKY,178916.0,3790.0,23106,159,249.0,1260,2122,18825,629,145,1135,483,1097,1015,370,21644,19953,4537
4,KENTUCKY,195415.0,3484.0,20873,159,238.0,1136,1951,16949,681,74,1135,467,1059,872,375,22106,17825,4453

In [28]:
lou_crime_pd = frame.loc[frame["State"] == "LOUISIANA", :]
lou_crime_pd_reindexed = lou_crime_pd.reset_index(drop=True)
lou_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,LOUISIANA,119085.0,8420.0,19892,158,208.0,959,7095,15419,577,122,1411,24,2537,1515,613,14925,6032,9772
1,LOUISIANA,122931.0,7741.0,21778,182,222.0,937,6400,17310,577,100,1217,20,2102,1519,563,15748,5259,9572
2,LOUISIANA,149789.0,8563.0,28322,205,263.0,954,7141,23026,843,100,1643,158,2758,1815,760,20727,6182,7929
3,LOUISIANA,121145.0,5215.0,20526,165,218.0,669,4163,16290,721,70,1154,98,1968,1585,619,17693,5598,5777
4,LOUISIANA,111454.0,4813.0,18898,151,231.0,645,3786,15168,741,70,854,20,1569,1763,507,17686,5339,5350

In [29]:
mai_crime_pd = frame.loc[frame["State"] == "MAINE", :]
mai_crime_pd_reindexed = mai_crime_pd.reset_index(drop=True)
mai_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,MAINE,51592.0,751.0,8142,17,75.0,204,455,6368,301,77,755,56,1487,403,253,5627,5802,1709
1,MAINE,51052.0,770.0,8260,19,51.0,233,467,6618,264,76,659,55,1472,406,277,5544,5834,1883
2,MAINE,49548.0,808.0,7749,17,82.0,177,532,6358,250,46,669,43,1255,304,222,5608,5826,1663
3,MAINE,47815.0,762.0,7286,10,65.0,164,523,6117,222,42,643,58,1168,270,207,5802,5531,1568
4,MAINE,45230.0,800.0,6480,21,59.0,182,538,5361,236,29,563,46,1005,228,184,5947,5756,1317

In [30]:
mary_crime_pd = frame.loc[frame["State"] == "MARYLAND", :]
mary_crime_pd_reindexed = mary_crime_pd.reset_index(drop=True)
mary_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,MARYLAND,229010.0,9551.0,28345,202,305.0,2819,6225,20403,1585,375,1554,289,3267,3235,1175,41022,17402,6306
1,MARYLAND,214837.0,9665.0,27862,218,336.0,2989,6122,19861,1619,299,1288,266,3205,3189,1143,39733,16769,6025
2,MARYLAND,168692.0,6925.0,20773,166,207.0,2156,4396,15382,926,259,1041,191,2222,2384,578,34006,14793,3930
3,MARYLAND,195120.0,8322.0,24566,195,284.0,2692,5151,18584,1112,246,1048,227,2527,2739,874,37780,17839,5875
4,MARYLAND,159178.0,8244.0,22032,257,336.0,2698,4953,16408,1098,240,817,193,2227,2716,692,26154,17100,4475

In [31]:
mass_crime_pd = frame.loc[frame["State"] == "MASSACHUSETTS", :]
mass_crime_pd_reindexed = mass_crime_pd.reset_index(drop=True)
mass_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,MASSACHUSETTS,137379.0,11512.0,18428,90,288.0,1808,9326,13955,697,83,1181,90,3138,1479,566,10849,9887,7384
1,MASSACHUSETTS,137532.0,10719.0,18900,52,243.0,1590,8834,14741,563,110,1329,143,3217,1311,547,11599,8541,6881
2,MASSACHUSETTS,135362.0,10512.0,19719,50,270.0,1573,8619,15672,560,124,1490,133,2864,1384,450,11206,8381,6522
3,MASSACHUSETTS,125708.0,10181.0,17915,47,274.0,1464,8396,14437,603,87,1288,133,2759,1293,436,10516,7530,5594
4,MASSACHUSETTS,116347.0,9841.0,15577,52,270.0,1200,8319,12664,564,53,1186,127,2528,1300,432,9761,8258,4349

In [32]:
mic_crime_pd = frame.loc[frame["State"] == "MICHIGAN", :]
mic_crime_pd_reindexed = mic_crime_pd.reset_index(drop=True)
mic_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,MICHIGAN,251200.0,11856.0,34176,158,589.0,2141,8968,25970,1895,266,4648,917,3125,3926,862,31486,29443,8563
1,MICHIGAN,252589.0,11537.0,33189,157,557.0,2003,8820,25928,1612,263,4282,825,3088,3843,859,31823,29206,8561
2,MICHIGAN,251825.0,11591.0,32025,247,627.0,2104,8613,25344,1547,249,4326,1010,2831,4035,837,34128,27643,7326
3,MICHIGAN,246442.0,11260.0,27848,278,641.0,1631,8710,22631,1259,215,4000,912,2326,3606,604,33567,28072,6740
4,MICHIGAN,240942.0,10836.0,25150,242,622.0,1516,8456,20815,1092,215,3671,856,2386,3289,532,34716,26845,6402

In [33]:
min_crime_pd = frame.loc[frame["State"] == "MINNESOTA", :]
min_crime_pd_reindexed = min_crime_pd.reset_index(drop=True)
min_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,MINNESOTA,176051.0,5140.0,28405,69,152.0,1196,3723,24268,977,167,2382,30,3886,1688,1331,17727,24543,13184
1,MINNESOTA,NaN,NaN,24025,44,NaN,579,2598,20612,928,154,1748,33,3002,931,1076,15087,22278,9381
2,MINNESOTA,158799.0,5636.0,28649,91,564.0,1196,3785,24895,1015,101,2145,25,3213,1736,1201,19056,21206,10832
3,MINNESOTA,151155.0,5564.0,27659,87,543.0,1151,3783,24079,1086,83,2286,64,3094,1797,1159,19148,20586,10149
4,MINNESOTA,148307.0,5792.0,26814,119,670.0,1197,3806,23406,1135,118,2699,40,3203,1867,1083,17342,20830,10090

In [34]:
misspi_crime_pd = frame.loc[frame["State"] == "MISSISSIPPI", :]
misspi_crime_pd_reindexed = misspi_crime_pd.reset_index(drop=True)
misspi_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,MISSISSIPPI,102765.0,2223.0,11509,173,161.0,625,1264,8639,402,95,1551,517,937,828,314,10862,11251,6783
1,MISSISSIPPI,94386.0,1724.0,10320,83,127.0,406,1108,8032,347,47,1355,559,887,841,246,10678,10221,6294
2,MISSISSIPPI,72824.0,1404.0,8978,95,86.0,325,898,7394,263,76,954,437,673,705,187,8037,7764,4606
3,MISSISSIPPI,79522.0,1626.0,10006,124,83.0,406,1013,8187,295,67,1120,443,739,858,184,8958,8174,4457
4,MISSISSIPPI,71916.0,1271.0,8453,103,85.0,324,759,6850,309,41,1021,387,651,875,162,9010,6889,3777

In [35]:
missor_crime_pd = frame.loc[frame["State"] == "MISSOURI", :]
missor_crime_pd_reindexed = missor_crime_pd.reset_index(drop=True)
missor_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,MISSOURI,295080.0,10401.0,41476,252,382.0,2117,7650,33181,1571,249,2643,255,5300,3353,2018,35383,29447,13006
1,MISSOURI,289864.0,10020.0,42838,289,389.0,1968,7374,35286,1684,284,2493,284,5126,3230,1801,34943,26860,12274
2,MISSOURI,276973.0,9234.0,40261,238,232.0,1938,6826,33284,1659,199,2601,299,4637,3050,1509,35131,23950,11253
3,MISSOURI,256349.0,9220.0,37807,248,488.0,1747,6737,31453,1767,184,2244,330,4229,2735,1395,33496,22187,9259
4,MISSOURI,222609.0,9682.0,34559,253,538.0,1893,6998,28339,1899,142,2238,323,4052,2936,1218,34052,19449,8042

In [36]:
mon_crime_pd = frame.loc[frame["State"] == "MONTANA", :]
mon_crime_pd_reindexed = mon_crime_pd.reset_index(drop=True)
mon_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,MONTANA,29678.0,829.0,4118,10,40.0,45,734,3698,163,32,171,34,965,71,61,1790,4251,3458
1,MONTANA,32384.0,907.0,4671,10,54.0,57,786,4098,197,45,139,40,1072,91,96,2077,4418,3445
2,MONTANA,30089.0,837.0,4785,15,36.0,63,723,4251,209,14,207,38,921,86,79,1958,4300,3272
3,MONTANA,29766.0,946.0,4927,11,52.0,49,834,4387,226,35,269,40,855,97,85,2205,4461,3086
4,MONTANA,25687.0,907.0,4038,7,50.0,44,806,3582,219,25,223,53,792,75,79,1961,3674,2585

In [37]:
neb_crime_pd = frame.loc[frame["State"] == "NEBRASKA", :]
neb_crime_pd_reindexed = neb_crime_pd.reset_index(drop=True)
neb_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,NEBRASKA,81890.0,2111.0,11062,53,213.0,355,1490,9707,364,89,1230,75,2587,835,560,10423,12005,3761
1,NEBRASKA,77665.0,2080.0,10893,30,200.0,334,1516,9586,369,87,1456,77,2571,914,570,10433,10639,3364
2,NEBRASKA,69957.0,1912.0,9981,42,156.0,270,1444,8839,325,64,1348,82,2103,956,502,10366,9193,2724
3,NEBRASKA,73802.0,2237.0,10825,45,145.0,294,1753,9697,341,53,1419,94,2368,1016,470,11965,8372,3188
4,NEBRASKA,45859.0,1170.0,5932,9,106.0,124,931,5241,248,48,829,28,1288,617,253,8589,5348,1786

In [38]:
nev_crime_pd = frame.loc[frame["State"] == "NEVADA", :]
nev_crime_pd_reindexed = nev_crime_pd.reset_index(drop=True)
nev_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,NEVADA,141908.0,5690.0,14355,107,168.0,1491,3924,10895,505,376,1354,403,2230,1499,1243,15562,11834,2765
1,NEVADA,142459.0,6557.0,15569,120,199.0,1519,4719,11875,664,113,1531,436,1782,1464,1257,15001,11576,1905
2,NEVADA,122498.0,6200.0,13930,117,202.0,1517,4364,10380,744,138,1416,393,1586,1560,1080,11207,8841,1495
3,NEVADA,122274.0,7808.0,13639,122,279.0,1809,5598,9987,851,65,1513,344,1500,1492,1002,12508,8072,1589
4,NEVADA,115675.0,8337.0,12475,131,340.0,1996,5870,8936,805,57,1639,338,1472,1460,797,11594,7612,1250

In [39]:
nh_crime_pd = frame.loc[frame["State"] == "NEW HAMPSHIRE", :]
nh_crime_pd_reindexed = nh_crime_pd.reset_index(drop=True)
nh_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,NEW HAMPSHIRE,40699.0,860.0,4152,4,42.0,159,655,3522,75,39,689,35,1122,77,142,3631,3616,1116
1,NEW HAMPSHIRE,45492.0,879.0,4602,8,58.0,208,605,3879,93,51,793,39,1273,74,132,3941,4109,1358
2,NEW HAMPSHIRE,44554.0,871.0,5222,8,52.0,241,570,4637,85,30,899,47,1242,96,164,4270,3700,1191
3,NEW HAMPSHIRE,46180.0,864.0,4918,1,54.0,205,604,4390,83,34,873,95,1158,108,143,6224,4528,1046
4,NEW HAMPSHIRE,44368.0,772.0,4355,9,57.0,169,537,3863,96,18,822,124,927,138,123,7371,4746,943

In [40]:
nj_crime_pd = frame.loc[frame["State"] == "NEW JERSEY", :]
nj_crime_pd_reindexed = nj_crime_pd.reset_index(drop=True)
nj_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,NEW JERSEY,333136.0,11947.0,33726,207,279.0,3561,7900,26191,688,263,3323,211,5227,4081,1298,46377,26206,17791
1,NEW JERSEY,328432.0,11341.0,32995,220,316.0,3528,7277,25560,674,235,3106,204,4638,3957,1260,51111,25697,17853
2,NEW JERSEY,302955.0,10871.0,31093,232,289.0,3557,6793,24643,666,218,2956,271,3980,3969,1180,50775,23765,13653
3,NEW JERSEY,303639.0,10377.0,30216,247,315.0,3327,6488,24468,537,213,4891,321,3792,3832,1129,52721,23031,14943
4,NEW JERSEY,264250.0,8697.0,26181,154,338.0,2650,5555,21342,617,153,3498,283,3530,3268,902,46376,22201,11395

In [41]:
nm_crime_pd = frame.loc[frame["State"] == "NEW MEXICO", :]
nm_crime_pd_reindexed = nm_crime_pd.reset_index(drop=True)
nm_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,NEW MEXICO,108731.0,4386.0,13257,83,121.0,380,3802,10800,408,214,573,230,1277,692,220,8859,11460,3502
1,NEW MEXICO,98410.0,4016.0,12560,83,122.0,337,3474,10282,307,254,468,194,1132,609,153,8044,10126,3352
2,NEW MEXICO,65526.0,3149.0,10782,71,93.0,226,2759,8740,217,643,366,165,891,402,119,4773,6352,1762
3,NEW MEXICO,81447.0,3813.0,10166,73,116.0,230,3394,8461,287,43,553,166,906,408,105,5529,7384,2251
4,NEW MEXICO,87310.0,3984.0,10496,70,107.0,365,3442,8758,365,328,524,158,1137,529,117,7188,8542,2543

In [42]:
ny_crime_pd = frame.loc[frame["State"] == "NEW YORK", :]
ny_crime_pd_reindexed = ny_crime_pd.reset_index(drop=True)
ny_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,NEW YORK,303435.0,11306.0,53185,176,402.0,2851,7877,43965,1607,237,5745,116,14771,3065,3144,56508,35541,11322
1,NEW YORK,338463.0,14318.0,62766,206,455.0,3720,9937,51088,2124,374,6062,97,17728,4011,3419,65840,33053,11942
2,NEW YORK,300442.0,12902.0,59628,254,354.0,3605,8689,49635,1794,327,5444,90,15131,3248,2191,61633,29977,9750
3,NEW YORK,264268.0,11907.0,51764,210,422.0,3415,7860,43326,1627,281,4874,46,13593,3218,1938,58782,26587,7596
4,NEW YORK,271540.0,13418.0,51569,262,1121.0,3574,8461,43300,1770,276,4760,72,14382,3436,1893,62035,28988,6471

In [43]:
nc_crime_pd = frame.loc[frame["State"] == "NORTH CAROLINA", :]
nc_crime_pd_reindexed = nc_crime_pd.reset_index(drop=True)
nc_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,NORTH CAROLINA,494561.0,19735.0,71541,573,560.0,3900,14702,52358,1430,422,18242,1472,8696,7372,1686,42225,53700,16003
1,NORTH CAROLINA,435932.0,18825.0,66248,560,530.0,3774,13961,49443,1217,370,14901,1352,7621,6618,1636,38240,46855,12450
2,NORTH CAROLINA,395015.0,17148.0,62371,567,411.0,3876,12294,46754,1137,317,13751,1291,6579,6120,1394,35470,41247,10608
3,NORTH CAROLINA,369728.0,16763.0,60597,494,401.0,3330,12538,46549,1099,275,12783,1277,6624,6398,1216,34695,39743,8729
4,NORTH CAROLINA,278625.0,13275.0,46827,430,294.0,3002,9549,36598,867,218,8564,1130,5022,4981,968,21487,35967,6878

In [44]:
nd_crime_pd = frame.loc[frame["State"] == "NORTH DAKOTA", :]
nd_crime_pd_reindexed = nd_crime_pd.reset_index(drop=True)
nd_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,NORTH DAKOTA,26012.0,495.0,2936,8,30.0,22,435,2602,109,12,413,41,466,131,66,2243,4836,1698
1,NORTH DAKOTA,29084.0,528.0,3119,7,40.0,46,435,2736,145,19,423,43,504,213,84,2446,5730,1992
2,NORTH DAKOTA,30642.0,585.0,2947,8,32.0,44,501,2556,157,16,377,36,453,333,77,3345,7077,1848
3,NORTH DAKOTA,30653.0,616.0,3132,16,54.0,57,489,2703,190,15,374,61,435,356,69,4004,6664,1640
4,NORTH DAKOTA,32565.0,682.0,3420,19,41.0,44,578,2908,211,19,299,37,454,406,114,4475,6351,1927

In [45]:
ohi_crime_pd = frame.loc[frame["State"] == "OHIO", :]
ohi_crime_pd_reindexed = ohi_crime_pd.reset_index(drop=True)
ohi_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,OHIO,256625.0,7642.0,37720,235,474.0,2795,4138,30043,901,234,2550,19,4534,3217,734,28943,36528,17659
1,OHIO,227243.0,6236.0,35439,181,376.0,2020,3659,29238,550,158,2162,11,3969,2518,659,26936,35629,14904
2,OHIO,224248.0,6589.0,35489,134,368.0,2191,3896,29585,705,227,2376,39,3684,2781,680,28612,33808,13498
3,OHIO,244134.0,6681.0,37913,212,476.0,2084,3909,32230,751,196,2460,48,3838,3204,665,36331,34626,15787
4,OHIO,226325.0,5361.0,34444,136,361.0,1656,3208,29967,654,153,2157,21,3289,2893,595,32827,34254,14714

In [46]:
ok_crime_pd = frame.loc[frame["State"] == "OKLAHOMA", :]
ok_crime_pd_reindexed = ok_crime_pd.reset_index(drop=True)
ok_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,OKLAHOMA,134295.0,5155.0,17945,144,231.0,669,4111,14507,513,182,1897,437,1240,1764,538,15931,14563,2712
1,OKLAHOMA,127825.0,4760.0,17664,133,228.0,591,3808,14444,495,193,1711,408,1302,1984,543,16688,13801,2571
2,OKLAHOMA,125534.0,4908.0,18620,156,207.0,658,3887,15517,517,225,1666,436,1241,2148,498,16946,13244,2419
3,OKLAHOMA,123408.0,4673.0,19023,129,236.0,717,3591,15985,576,161,1602,475,1153,1988,466,17721,12741,2062
4,OKLAHOMA,110974.0,4770.0,18127,179,230.0,700,3661,15364,555,143,1642,487,1280,2139,427,17771,11101,2264

In [47]:
or_crime_pd = frame.loc[frame["State"] == "OREGON", :]
or_crime_pd_reindexed = or_crime_pd.reset_index(drop=True)
or_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,OREGON,133414.0,4289.0,24655,68,229.0,933,3059,20634,1219,261,1625,33,4655,1744,1145,19262,14966,10202
1,OREGON,127754.0,4205.0,25279,83,221.0,1110,2791,21158,1404,229,1700,36,4049,1712,1144,18929,13592,10185
2,OREGON,54323.0,1648.0,9446,29,53.0,288,1278,7816,567,103,901,19,2080,847,338,10009,6699,3282
3,OREGON,71804.0,2374.0,14717,43,132.0,535,1664,12482,885,109,1411,24,2382,1060,531,11165,6020,5445
4,OREGON,76969.0,2310.0,13709,35,117.0,377,1781,11448,875,150,1227,30,2525,1181,428,11152,9019,4849

In [48]:
pen_crime_pd = frame.loc[frame["State"] == "PENNSYLVANIA", :]
pen_crime_pd_reindexed = pen_crime_pd.reset_index(drop=True)
pen_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,PENNSYLVANIA,418838.0,23179.0,58946,445,953.0,6470,15311,46076,2593,547,6685,442,9509,4222,2452,52483,48519,48699
1,PENNSYLVANIA,433863.0,23412.0,62665,548,947.0,6432,15485,49597,2543,566,6866,440,9279,4154,2584,55610,49103,48505
2,PENNSYLVANIA,413486.0,22113.0,61049,460,1152.0,5873,14628,48997,2328,444,6765,441,8089,4153,2304,54452,45744,44251
3,PENNSYLVANIA,415346.0,21135.0,61383,402,1095.0,5590,14048,50564,2323,473,7499,455,7676,4739,2230,57392,47019,40711
4,PENNSYLVANIA,377078.0,18944.0,55827,466,1052.0,5043,12383,46249,2266,453,8003,424,7209,4262,2251,52281,44615,37017

In [49]:
ri_crime_pd = frame.loc[frame["State"] == "RHODE ISLAND", :]
ri_crime_pd_reindexed = ri_crime_pd.reset_index(drop=True)
ri_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,RHODE ISLAND,29852.0,702.0,3368,6,56.0,141,499,2439,111,45,542,102,1108,281,87,3111,2508,2880
1,RHODE ISLAND,33191.0,901.0,3638,10,69.0,172,650,2757,123,30,549,115,1106,404,104,3665,2548,2990
2,RHODE ISLAND,30598.0,848.0,3590,10,72.0,188,578,2707,132,44,497,101,953,342,114,2240,2576,2767
3,RHODE ISLAND,30447.0,782.0,3357,14,61.0,123,584,2546,118,49,510,120,934,353,94,1913,2721,2783
4,RHODE ISLAND,27171.0,882.0,2746,17,93.0,162,610,2112,117,29,436,92,986,394,87,1757,2591,2417

In [50]:
sc_crime_pd = frame.loc[frame["State"] == "SOUTH CAROLINA", :]
sc_crime_pd_reindexed = sc_crime_pd.reset_index(drop=True)
sc_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,SOUTH CAROLINA,169884.0,7870.0,26954,273,322.0,1309,5966,21521,800,154,5124,399,3409,1931,491,26287,15674,13384
1,SOUTH CAROLINA,169384.0,7257.0,27199,261,320.0,1320,5356,21598,776,160,4477,319,2731,1966,543,27174,17906,13064
2,SOUTH CAROLINA,181016.0,7607.0,30727,295,347.0,1320,5645,25399,726,142,4692,364,3018,2033,453,28838,18919,14052
3,SOUTH CAROLINA,157253.0,6693.0,26158,224,312.0,1211,4946,21845,701,123,3835,391,2679,1781,369,26720,11226,11374
4,SOUTH CAROLINA,151136.0,6061.0,24120,248,295.0,1009,4509,20228,721,105,3079,363,2678,1752,298,25666,16272,9044

In [51]:
sd_crime_pd = frame.loc[frame["State"] == "SOUTH DAKOTA", :]
sd_crime_pd_reindexed = sd_crime_pd.reset_index(drop=True)
sd_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,SOUTH DAKOTA,29023.0,577.0,3544,14,46.0,35,482,3025,128,30,562,29,600,128,73,3694,5269,1984
1,SOUTH DAKOTA,35365.0,769.0,3865,10,67.0,49,643,3294,152,30,674,52,580,164,71,4372,5816,2184
2,SOUTH DAKOTA,35061.0,780.0,3301,12,33.0,35,700,2763,161,20,649,29,517,179,69,5382,6328,2038
3,SOUTH DAKOTA,35375.0,866.0,3565,9,51.0,59,747,3099,130,27,627,35,452,145,49,5406,5990,2285
4,SOUTH DAKOTA,48048.0,1190.0,3638,17,52.0,67,1054,3118,210,27,725,34,516,210,64,7058,7305,2895

In [52]:
ten_crime_pd = frame.loc[frame["State"] == "TENNESSEE", :]
ten_crime_pd_reindexed = ten_crime_pd.reset_index(drop=True)
ten_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,TENNESSEE,386758.0,16546.0,45236,316,429.0,2331,13470,34706,2131,286,9055,745,4706,3532,913,40911,25559,11877
1,TENNESSEE,356340.0,16800.0,44154,261,378.0,2171,13990,34996,2087,219,7908,782,4414,3568,842,43448,26858,10847
2,TENNESSEE,371938.0,17896.0,45903,361,353.0,2189,14993,37063,1927,198,7165,727,4399,3351,799,46923,26276,9598
3,TENNESSEE,358850.0,17122.0,44517,309,352.0,2068,14393,36210,2124,236,6666,763,4626,2971,620,41493,26657,8442
4,TENNESSEE,335281.0,16399.0,42241,311,340.0,1906,13842,34613,2213,129,6065,801,4843,2472,654,38486,23150,7184

In [53]:
tex_crime_pd = frame.loc[frame["State"] == "TEXAS", :]
tex_crime_pd_reindexed = tex_crime_pd.reset_index(drop=True)
tex_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,TEXAS,1026398.0,30462.0,128461,640,1708.0,6495,21619,106018,3883,600,11801,490,11431,9637,4061,126695,85715,32867
1,TEXAS,1009136.0,30245.0,129856,708,1724.0,6365,21448,108304,3985,538,10205,429,10796,10222,4087,133110,85436,29385
2,TEXAS,931814.0,29631.0,128617,648,1572.0,6642,20769,108288,4167,491,9102,439,9678,10042,3799,133711,78352,20602
3,TEXAS,849887.0,29135.0,122822,710,1912.0,5995,20518,103547,4494,508,7817,501,8989,9246,3547,135683,70482,12141
4,TEXAS,808119.0,31493.0,117371,749,2095.0,6956,21693,98494,5528,454,6818,659,8480,10861,3244,131851,64971,9905

In [54]:
ut_crime_pd = frame.loc[frame["State"] == "UTAH", :]
ut_crime_pd_reindexed = ut_crime_pd.reset_index(drop=True)
ut_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,UTAH,47321.0,703.0,8138,13,117.0,88,485,7237,156,23,473,9,1486,493,471,5207,3184,1669
1,UTAH,117185.0,2045.0,19502,32,154.0,373,1486,17697,408,82,817,26,3741,1291,871,12710,6061,3999
2,UTAH,131389.0,2064.0,18253,33,164.0,371,1496,16721,365,64,977,26,3161,1114,850,13377,9038,4361
3,UTAH,118405.0,2206.0,19420,43,235.0,440,1488,17828,410,84,1026,31,2979,1080,808,14630,8063,3615
4,UTAH,115453.0,2418.0,19416,29,244.0,439,1706,17745,450,68,1051,34,2857,1137,740,14913,8813,3459

In [55]:
ver_crime_pd = frame.loc[frame["State"] == "VERMONT", :]
ver_crime_pd_reindexed = ver_crime_pd.reset_index(drop=True)
ver_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,VERMONT,10907.0,421.0,1487,4,36.0,9,372,1124,95,10,231,47,346,15,25,1041,2264,592
1,VERMONT,13073.0,519.0,1824,8,61.0,21,429,1380,88,26,266,48,364,20,32,1390,2517,679
2,VERMONT,13418.0,510.0,1989,6,59.0,31,414,1614,60,29,271,50,328,22,37,1250,2476,743
3,VERMONT,11381.0,473.0,1473,11,41.0,25,396,1220,30,14,205,46,261,18,33,661,2189,684
4,VERMONT,11183.0,472.0,1402,7,40.0,35,390,1176,29,8,184,60,275,17,25,610,2144,703

In [56]:
vir_crime_pd = frame.loc[frame["State"] == "VIRGINIA", :]
vir_crime_pd_reindexed = vir_crime_pd.reset_index(drop=True)
vir_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,VIRGINIA,347903.0,6721.0,38670,269,336.0,1982,4134,32650,1008,279,6731,1621,4852,3749,1083,35416,28950,5345
1,VIRGINIA,339362.0,6765.0,37598,271,312.0,1699,4483,31879,835,310,6460,1522,4504,3556,1079,38038,28908,5141
2,VIRGINIA,321040.0,6858.0,37223,331,326.0,1754,4447,32079,867,203,6151,1520,4255,3501,1031,39536,25813,4536
3,VIRGINIA,300102.0,6923.0,35123,278,471.0,1591,4583,30626,803,204,5718,1609,3929,3197,833,36988,23611,4136
4,VIRGINIA,268167.0,6247.0,31971,289,448.0,1392,4118,28164,810,164,5079,1371,3746,3160,674,33558,20477,3106

In [57]:
wash_crime_pd = frame.loc[frame["State"] == "WASHINGTON", :]
wash_crime_pd_reindexed = wash_crime_pd.reset_index(drop=True)
wash_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,WASHINGTON,129201.0,5295.0,24813,99,454.0,1139,3603,20072,799,177,731,53,4270,1549,616,12570,11101,3548
1,WASHINGTON,172362.0,7200.0,31512,122,437.0,1704,4937,25737,970,201,846,56,4773,1772,615,12706,30501,3191
2,WASHINGTON,189806.0,7699.0,36129,121,436.0,1868,5274,29491,1232,175,931,78,5645,1855,602,11346,29153,3533
3,WASHINGTON,183687.0,7707.0,35757,137,479.0,1851,5240,29320,1248,207,991,68,5132,1739,661,11111,26952,3260
4,WASHINGTON,186866.0,7822.0,33708,155,488.0,1831,5348,27244,1376,188,930,56,5223,1771,606,11026,24627,3009

In [58]:
wv_crime_pd = frame.loc[frame["State"] == "WEST VIRGINIA", :]
wv_crime_pd_reindexed = wv_crime_pd.reset_index(drop=True)
wv_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,WEST VIRGINIA,50204.0,1947.0,6537,46,61.0,236,1604,5239,250,41,785,138,923,391,152,6798,5356,1033
1,WEST VIRGINIA,46364.0,1750.0,6465,43,61.0,201,1445,5251,229,45,711,130,854,354,150,6647,5654,1081
2,WEST VIRGINIA,49225.0,1834.0,6900,29,58.0,171,1576,5816,174,32,704,145,721,354,154,6651,5960,885
3,WEST VIRGINIA,43394.0,1870.0,7115,42,86.0,154,1588,6189,196,25,571,150,649,314,126,5994,4723,634
4,WEST VIRGINIA,40568.0,1743.0,6480,35,77.0,144,1487,5563,197,35,583,138,746,378,116,6187,4543,654

In [59]:
wis_crime_pd = frame.loc[frame["State"] == "WISCONSIN", :]
wis_crime_pd_reindexed = wis_crime_pd.reset_index(drop=True)
wis_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,WISCONSIN,317773.0,7448.0,35805,127,693.0,1775,4853,30489,1035,155,3684,168,8302,3799,2510,24140,28798,48195
1,WISCONSIN,324207.0,8481.0,38666,151,559.0,1639,6132,33269,1091,170,3773,198,8620,3715,2779,26073,29126,45856
2,WISCONSIN,305446.0,8002.0,36871,146,619.0,1687,5550,31782,1064,209,3789,259,7115,3708,2371,25582,26562,43614
3,WISCONSIN,281399.0,7487.0,36709,171,677.0,1580,5059,32264,1138,144,3022,258,7073,3955,2239,24854,24330,39032
4,WISCONSIN,265628.0,7522.0,31519,180,690.0,1562,5090,27432,1163,135,2890,283,6476,4022,2067,25302,24588,36191

In [60]:
wy_crime_pd = frame.loc[frame["State"] == "WYOMING", :]
wy_crime_pd_reindexed = wy_crime_pd.reset_index(drop=True)
wy_crime_pd_reindexed

,State,Total Crime,Violent Crime,Property Crime,Murder,Rape,Robbery,Assault,Theft,Vehicle Theft,Arson,Fraud,Embezzlement,Vandalism,Weapons Carrying,Sex Offenses,Drug Violations,DUI,Disorderly Conduct
0,WYOMING,34041.0,560.0,2735,8,31.0,28,493,2369,94,31,196,3,662,118,151,3205,4970,1257
1,WYOMING,30404.0,458.0,2509,13,27.0,29,389,2121,86,36,183,3,605,92,120,3036,4147,1004
2,WYOMING,31636.0,529.0,3052,13,37.0,24,455,2684,107,30,200,8,560,91,139,3527,3893,1026
3,WYOMING,28872.0,453.0,2770,19,39.0,18,377,2418,84,43,168,12,554,90,128,3459,3742,921
4,WYOMING,27058.0,553.0,2541,10,35.0,34,474,2157,95,61,156,10,490,76,130,3695,3157,961

In [62]:
total_crime = frame.groupby("State")["Total Crime"].mean()
total_crime_sorted = total_crime.sort_values(ascending=True)
total_crime_sorted

State
DISTRICT OF COLUMBIA       6951.50
VERMONT                   11992.40
HAWAII                    16363.75
MONTANA                   29520.80
ALABAMA                   29680.60
NORTH DAKOTA              29791.20
RHODE ISLAND              30251.80
WYOMING                   30402.20
ALASKA                    31240.40
SOUTH DAKOTA              36574.40
DELAWARE                  37260.00
NEW HAMPSHIRE             44258.60
WEST VIRGINIA             45951.00
MAINE                     49047.40
IDAHO                     60000.40
NEBRASKA                  69834.60
KANSAS                    73041.00
MISSISSIPPI               84282.60
NEW MEXICO                88284.80
OREGON                    92852.80
IOWA                      99893.80
CONNECTICUT              103667.60
UTAH                     105950.60
ILLINOIS                 115690.00
OKLAHOMA                 124407.20
LOUISIANA                124880.80
ARKANSAS                 126246.00
NEVADA                   128962.80
MASSACHUSETTS            130465.60
INDIANA                  154033.00
MINNESOTA                158578.00
SOUTH CAROLINA           165734.60
WASHINGTON               172384.40
KENTUCKY                 181613.00
MARYLAND                 193367.40
COLORADO                 223966.40
OHIO                     235715.00
MICHIGAN                 248599.60
ARIZONA                  261972.40
MISSOURI                 268175.00
NEW YORK                 295629.60
WISCONSIN                298890.60
NEW JERSEY               306482.40
GEORGIA                  308346.60
VIRGINIA                 315314.80
TENNESSEE                361833.40
NORTH CAROLINA           394772.20
PENNSYLVANIA             411722.20
FLORIDA                  891058.80
TEXAS                    925070.80
CALIFORNIA              1200004.80
Name: Total Crime, dtype: float64

In [ ]:
bar_x  = total_crime.plot.bar(rot=0)
plt.show()